<template>
    <div class="flex">
        <Listbox v-model="selectedTime">
            <ListboxLabel as="div" class="text-left italic flex items-center mr-3">
                <p>Date de réservation:</p>
            </ListboxLabel>
            <div class="relative mt-1">
                <ListboxButton
                    class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                >
                    <span class="block truncate">{{ selectedTime.name }}</span>
                    <span
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                    >
                        <span class="material-icons">unfold_more</span>
                        <!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                </ListboxButton>

                <transition
                    leave-active-class="transition duration-100 ease-in"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
                >
                    <ListboxOptions
                        class="absolute mt-1 max-w-sm max-h-60 overflow-y-auto overflow-x-hidden max-w-xs whitespace-nowrap z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                    >
                        <ListboxOption
                            v-slot="{ active, selected }"
                            v-for="time in filterTimes"
                            :key="time.name"
                            :value="time"
                            as="template"
                        >
                            <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative cursor-default select-none py-2 pl-2 pr-4 flex']"
                            >
                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ time.name }}
                                </span>
                                <span v-if="selected"
                                      class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                >
                                </span>
                            </li>
                        </ListboxOption>
                    </ListboxOptions>
                </transition>
            </div>
        </Listbox>
    </div>
</template>

<script lang="ts">
import { Listbox, ListboxOptions, ListboxOption, ListboxButton, ListboxLabel } from "@headlessui/vue";
import { computed, defineComponent, ref, toRefs, watch } from "vue";

export default defineComponent({
    components: { ListboxLabel, Listbox, ListboxOptions, ListboxOption, ListboxButton },
    setup(props, { emit }) {

        const filterTimes = [
            {
                id: 1,
                name: 'Tous'
            },
            {
                id: 2,
                name: 'Aujourd\'hui'
            },
            {
                id: 3,
                name: 'Moins d\'une semaine'
            },
            {
                id: 4,
                name: 'Moins d\'un mois'
            },
            {
                id: 5,
                name: 'Plus d\'un mois'
            }
        ];

        const selectedTime = ref(filterTimes[0]);

        watch(selectedTime, async (newVal) => {
            if (newVal) {
                emit('filterUpdated', newVal, 'time');
            }
        }, { deep: true });

        return { filterTimes, selectedTime }
    }
})
</script>
