<template>
    <div class="flex items-center">
        {{value}}
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRefs } from "vue";
import { useStore } from "vuex";

export default defineComponent({
    components: {},
    props: {
        min: {
            type: Number as PropType<number>
        },
        max: {
            type: Number as PropType<number>
        }
    },
    setup(props) {
        const store = useStore();
        const { min } = toRefs(props);
        const { max } = toRefs(props);

        const value = ref([0, 50]);
        const config = ref({
            step: 1,
            format: {
                suffix: "€"
            }
        });

        return { config, value }
    }
})
</script>

<style>

</style>
