<template>
    <div class="flex">
        <div class="flex items-center">
            <SwitchGroup>
                <SwitchLabel class="px-2 py-1 text-left">
                    Acceptée
                </SwitchLabel>
                <Switch v-model="accept"
                        :class='accept ? "bg-green-500" : "bg-gray-200"'
                        class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                >
                    <span
                        :class='accept ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                </Switch>
            </SwitchGroup>
        </div>

        <div class="flex items-center">
            <SwitchGroup>
                <SwitchLabel class="px-2 py-1 text-left">
                    En attente
                </SwitchLabel>
                <Switch v-model="pending"
                        :class='pending ? "bg-yellow-400" : "bg-gray-200"'
                        class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                >
                    <span
                        :class='pending ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                </Switch>
            </SwitchGroup>
        </div>

        <div class="flex items-center">
            <SwitchGroup>
                <SwitchLabel class="px-2 py-1 text-left">
                    Refusée
                </SwitchLabel>
                <Switch v-model="refuse"
                        :class='refuse ? "bg-red-500" : "bg-gray-200"'
                        class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                >
                    <span
                        :class='refuse ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                </Switch>
            </SwitchGroup>
        </div>

        <div class="flex items-center">
            <SwitchGroup>
                <SwitchLabel class="px-2 py-1 text-left">
                    Disponible
                </SwitchLabel>
                <Switch v-model="available"
                        :class='available ? "bg-green-600" : "bg-gray-200"'
                        class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                >
                    <span
                        :class='available ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                </Switch>
            </SwitchGroup>
        </div>
    </div>
</template>

<script lang="ts">
import { Switch, SwitchGroup, SwitchLabel } from "@headlessui/vue";
import { computed, defineComponent, ref, toRefs, watch } from "vue";

export default defineComponent({
    components: { Switch, SwitchGroup, SwitchLabel },
    setup(props, { emit }) {
        const accept = ref<boolean>(false);
        const pending = ref<boolean>(false);
        const refuse = ref<boolean>(false);
        const available = ref<boolean>(false);

        const filter = computed(() => {
            return [accept.value ? 'Accepted' : undefined, pending.value  ? 'Pending' : undefined, refuse.value  ? 'Refused' : undefined, available.value  ? 'Available' : undefined]
        });

        watch(
            () => filter,
            (newValue, oldValue) => {
                emit('filterUpdated', filter.value, 'status');
            },
            { deep: true }
        )


        return { accept, pending, refuse, available, filter }
    }
})
</script>
