<template>
    <div>
        <Listbox v-model="selectedDisplay">
            <div class="relative mt-1">
                <ListboxButton
                    class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                >
                    <span class="block truncate">{{ selectedDisplay.name }}</span>
                    <span
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                    >
                        <span class="material-icons">unfold_more</span>
<!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                </ListboxButton>
                <transition
                    leave-active-class="transition duration-100 ease-in"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
                >

                    <ListboxOptions
                        class="absolute mt-1 max-h-60 w-full z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                    >
                        <ListboxOption
                            v-slot="{ active, selected }"
                            v-for="display in displayList"
                            :key="display.name"
                            :value="display"
                            as="template"
                        >
                            <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative select-none py-2 pl-2 pr-4 flex cursor-pointer']"
                            >
                                <span class="material-icons text-sm">{{ display.icon }}</span>

                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ display.name }}
                                </span>
                                <span v-if="selected"
                                    class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                >
                                </span>
                            </li>
                        </ListboxOption>
                    </ListboxOptions>
                </transition>
            </div>
        </Listbox>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, toRefs, watch } from "vue";
import {
    Listbox,
    ListboxLabel,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
} from '@headlessui/vue'
import { cardLayoutConfig } from "@/localStorage/cardTableLayoutConfig";

export default defineComponent({
    components: {
        Listbox,
        ListboxLabel,
        ListboxButton,
        ListboxOptions,
        ListboxOption,
    },
    setup(props) {
        const displayList = [
            { name: 'Carte', unavailable: true, icon: 'space_dashboard' },
            { name: 'Table', unavailable: true, icon: 'table_rows' }
        ];

        const selectedDisplay = ref(cardLayoutConfig ? displayList[0] : displayList[1]);

        onMounted(() => {
            if (cardLayoutConfig.value) {
                selectedDisplay.value = displayList[0];
            } else {
                selectedDisplay.value = displayList[1];
            }
        });

        watch(selectedDisplay, () => {
            selectedDisplay.value.name === 'Carte' ? cardLayoutConfig.value = true : cardLayoutConfig.value = false;
        });

        return { selectedDisplay, displayList }
    }
})

</script>
