<template>
    <div v-if="categories.length > 0">
        <Listbox v-model="selectedCategory">
            <div class="relative mt-1">
                <ListboxButton
                    class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                >
                    <span class="block truncate">{{ selectedCategory.name }}</span>
                    <span
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                    >
                        <span class="material-icons">unfold_more</span>
                        <!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                </ListboxButton>

                <transition
                    leave-active-class="transition duration-100 ease-in"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
                >
                    <ListboxOptions
                        class="absolute mt-1 max-h-60 overflow-y-auto whitespace-nowrap z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                    >
                        <ListboxOption
                            v-slot="{ active, selected }"
                            :value="{ name: 'Sélectionner une catégorie' }"
                            as="template">
                            <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative cursor-default select-none py-2 pl-2 pr-4 flex']">
                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    Sélectionner une catégorie
                                </span>
                            </li>
                        </ListboxOption>
                        <ListboxOption
                            v-slot="{ active, selected }"
                            v-for="category in categories"
                            :key="category.name"
                            :value="category"
                            as="template"
                        >
                            <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative cursor-default select-none py-2 pl-2 pr-4 flex']"
                            >
                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ category.name }}
                                </span>
                                <span v-if="selected"
                                      class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                >
                                </span>
                            </li>
                        </ListboxOption>
                    </ListboxOptions>
                </transition>
            </div>
        </Listbox>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import {
    Listbox,
    ListboxLabel,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
} from '@headlessui/vue'
import { cardLayoutConfig } from "@/localStorage/cardTableLayoutConfig";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    components: {
        Listbox,
        ListboxLabel,
        ListboxButton,
        ListboxOptions,
        ListboxOption,
    },
    setup(props, { emit }) {
        const store = useStore();

        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);
        const categories = computed(() => store.getters['categories/categories']);

        onMounted(async () => {
            try {
                await store.dispatch('categories/getCategories', selectedRestaurant.value.id);
            } catch (e: any) {
                createToast(e.message, { type: 'danger', position: 'bottom-right' });
            }
        });

        const selectedCategory = ref({ name: 'Sélectionner une catégorie' });

        watch(selectedCategory, async (newVal) => {
            if (newVal) {
                newVal?.id ? emit('onChangeCategory', { category: newVal, request: true }) : emit('onChangeCategory', { category: newVal, request: false });
            }
        }, { deep: true });

        return { selectedCategory, categories }
    }
})

</script>
