<template>
    <div :class="`bg-[${bgColor}]`">
        <div class="lg:w-3/4 md:w-5/6 w-11/12 py-10 m-auto">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType, toRefs } from "vue";

export default defineComponent({
    props: {
        bgColor: {
            type: String as PropType<string>
        }
    },
    setup(props) {
        const { bgColor } = toRefs(props);

        return { bgColor }
    }
})
</script>
