<template>
    <div>
        <div class="flex items-center flex-col relative">
            <div v-if="label" class="w-full text-left pl-2 italic">
                <label :for="label.inputId">{{ label.name }}</label>
            </div>
            <div :class="(suffix ? suffix : '') + ' input-wrapper w-full'">
                <input :id="id" :type="type" :placeholder="placeholder" :value="modelValue" @input="updateValue" ref="input" :disabled="disabled"
                       :min="min" :max="max" :style="'height: ' + inputSize"
                       :class="'appearance-none border-0 border-b-2 px-3 py-2 block w-full focus:outline-none focus:shadow-none' +
                   (validInput ? ' valid-input' : '') + (invalidInput ? ' invalid-input': '') + (round ? ' round-input': '')" />
            </div>
            <div class="absolute top-1/2 bottom-1/2 -right-5">
                <span v-if="validInput" class="material-icons text-green-500 text-sm">
                    done
                </span>
                <span v-if="invalidInput" class="material-icons text-red-500 text-sm">
                    close
                </span>
                <span v-else>

                </span>
            </div>
        </div>
        <div v-if="messages" class="messages text-sm text-left ml-2 italic text-red-600">
            {{ messages }}
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRefs } from "vue";

export default defineComponent({
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            type: String as PropType<string>,
            default: ""
        },
        id: {
            type: String as PropType<string>,
            default: ""
        },
        type: {
            type: String as PropType<string>,
            default: "text"
        },
        placeholder: {
            type: String as PropType<string>,
            default: ""
        },
        messages: {
            type: String as PropType<string>,
            default: null
        },
        validInput: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        invalidInput: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        round: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        disabled: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        autofocus: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        label: {
            type: Object as PropType<{name: string, inputId: string}>,
            default: () => {}
        },
        min: {
            type: String as PropType<string>,
            default: ''
        },
        max: {
            type: String as PropType<string>,
            default: ''
        },
        size: {
            type: String as PropType<string>,
            default: 'md'
        },
        suffix: {
            type: String as PropType<string>
        }
    },
    setup(props, { emit }) {

        const updateValue = ((e: any) => {
            emit('update:modelValue', e.target.value)
        });

        const { size } = props;

        const inputSize = computed(() => {
            if (size === 'sm') return '2rem'
            else if (size === 'md') return '3rem'
            else if (size === 'lg') return '4rem'
        });

        return { updateValue, inputSize }
    }
})
</script>

<style scoped lang="scss">
input[type="*"]:focus {
    box-shadow: none;
}
input {
    border-bottom: #569ca9 solid 2px;
    &:focus {
        box-shadow: none !important;
        border-bottom: #423a3c solid 2px;
    }
}
/* prepare wrapper element */
.input-wrapper {
    display: inline-block;
    position: relative;
}

/* position the unit to the right of the wrapper */
.input-wrapper::after {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 1em;
    transition: all .05s ease-in-out;
}

/* move unit more to the left on hover or focus within
   for arrow buttons will appear to the right of number inputs */
.input-wrapper:hover::after,
.input-wrapper:focus-within::after {
    right: 2em;
}

/* handle Firefox (arrows always shown) */
@supports (-moz-appearance:none) {
    .input-wrapper::after {
        right: 2em;
    }
}

.hour::after {
    content: 'h';
}

.euro::after {
    content: '€';
}
</style>
