<template>
    <div>
        <table v-if="fields" class="w-full text-left data-table">
            <thead v-if="!hideHeader" class="bg-green-600">
                <tr>
                    <th v-for="header in fields" :key="header"
                        :class="(header.sortable ? 'sortable cursor-pointer ' : '') + (header.key === lastSorted ? 'active ' : '') + 'py-3 table-cell'"
                        aria-hidden="true" :aria-sort="header.key === lastSorted ? sortBy : 'none'"
                        @click="sortTable(header.key)" @mouseenter="mouseEnter(header.key)"
                        @mouseleave="mouseLeave(header.key)"
                        style="color:white"
                    >
                        <div class="flex">
                                    <span class="pr-1">
                                      {{ header?.alias ? header.alias : header.key }}
                                    </span>
                            <span v-if="header.sortable" 
                                  :class="(hover(header) ? 'opacity-50 ' : '') + (active(header) ? 'opacity-100 ' : 'opacity-0 ') + 'material-icons md-dark md-inactive flex items-center'"
                                  style="font-size: 18px; color: white">

                                        <template v-if="header.key !== lastSorted">
                                            {{ 'arrow_upward' }}
                                        </template>
                                        <template v-else>
                                            {{ sortBy === "ascending" ? 'arrow_upward' : 'arrow_downward' }}
                                        </template>
                                    </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in items" :key="row" :class="'table-row-item'">
                    <td v-for="field in fields" :key="field" class="py-3"
                        @click="rowClicked(row, items.indexOf(row))" :class="field?.class">
                            <slot :name="getTableHeaderName(row, row[field.key])" v-bind="row">{{ row[field.key] }}</slot>
                    </td>
                    <td>
                        <div class="flex items-center justify-center">
                            <slot name="custom" :row="row">

                            </slot>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">

import { computed, defineComponent, toRefs, PropType, ref, onMounted, reactive, watch } from "vue";
import { useStore } from "vuex";
import { getGetterName } from "@/common/helpers";

export default defineComponent({
    props: {
        fields: {
            type: Array as PropType<{ key: string, sortable: boolean, class: string }[]>,
            default: null
        },
        hideHeader: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        items: {
            type: Array as PropType<any>,
            default: null
        },
        moduleName: {
            type: Object as PropType<{ name: string, multiple: number }>
        }
    },
    setup(props, { emit }) {
        const store = useStore();

        const { fields } = toRefs(props);
        const { items } = toRefs(props);
        const { moduleName } = toRefs(props);

        let currentItem = ref({ id: '' });
        let lastSorted = ref("");
        let sortBy = ref("");
        let currentFocus = ref("");
        const hoverIcon = ref(false);

        // onMounted(async () => {
        //     await store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)] ?
        //         currentItem.value.id = await store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)].id : undefined;
        // });
        //
        // const current = computed(() => {
        //     return store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)] ?
        //         store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)].id : undefined;
        // })

        // const isActive = ((item: any) => {
        //     return current.value === item.id;
        // })

        const active = ((header: { key: string, sortable: boolean }) => header.sortable && header.key === lastSorted.value && checkColumn(header.key))
        const hover = ((header: { key: string, sortable: boolean }) => header.sortable && header.key === currentFocus.value && !checkColumn(header.key) && hoverIcon.value)

        const sortTable = ((columnName: string) => {
            currentFocus.value = columnName;
            if (columnName === lastSorted.value) {
                if (sortBy.value === "ascending") {
                    sortBy.value = "descending";
                } else {
                    sortBy.value = "ascending";
                }
            } else {
                sortBy.value = "ascending";
                lastSorted.value = columnName;
            }
            if (sortBy.value === "ascending") {
                return items.value.sort((a: any, b: any) => {
                    const left: any = (a[columnName] > b[columnName]);
                    const right: any = (a[columnName] < b[columnName]);
                    return left - right;
                })
            }
            if (sortBy.value === "descending") {
                return items.value.sort((a: any, b: any) => {
                    const left: any = (a[columnName] < b[columnName]);
                    const right: any = (a[columnName] > b[columnName]);
                    return left - right;
                })
            }
        });

        const getTableHeaderName = ((row: any, item: string) => {
            return Object.keys(row).reduce((acc: string, sum: string) => {
                if (row[sum] === item) {
                    acc = sum;
                }
                return acc;
            }, "");
        });

        const checkColumn = ((columnName: string) => lastSorted.value === columnName);

        const mouseEnter = ((columnName: string) => {
            currentFocus.value = columnName;
            hoverIcon.value = !(checkColumn(columnName) && sortBy.value !== 'none');
        });

        const mouseLeave = ((columnName: string) => {
            hoverIcon.value = false;
        });

        const rowClicked = ((row: any, index: number) => {
            emit('onRowClicked', row, index);
            currentItem.value = row;
        });

        return {
            sortTable,
            getTableHeaderName,
            lastSorted,
            sortBy,
            mouseEnter,
            mouseLeave,
            currentFocus,
            checkColumn,
            hoverIcon,
            active,
            hover,
            rowClicked,
            currentItem
        }
    }
})
</script>

<style lang="scss">
table {
    border:1px solid #EEEEEE;
}
thead,tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em );
}
td {
    padding: 5px 10px;
}

th {
    padding: 5px 10px;
}

th.sortable:hover {
    & > div > span:nth-child(2) {
        opacity: 50;
        color: rgba(0, 0, 0, .87);
    }
}

th.sortable.active {
    & > div > span {
        font-weight: 600;
    }
}

.table-row-item:nth-child(even) {
    background-color: #EEEEEE;
}

.table-row-item:nth-child(odd) {
    background-color: white;
}
</style>
