<template>
    <delete-category-modal ref="dialog" />
    <add-dishes-to-category-modal ref="dialogDishes" />

    <c-container>
        <h1 class="text-2xl font-bold">Vos catégories</h1>
        <div class="flex flex-col rounded-lg p-8 shadow my-6">
            <div class="text-left font-medium flex items-center text-lg">
                <ul class="list-disc">
                    <li>
                        Créer une catégorie en lui donnant un nom
                    </li>
                    <li>
                        Changer le nom d'une catégorie en cliquant dessus
                    </li>
                </ul>
            </div>
            <div class="flex justify-center items-center pt-4">
                <div class="flex flex-col">
                    <c-input placeholder="Catégorie" v-model="state.name" :messages="v$.name?.$errors[0]?.$message"
                             :valid-input="!v$.name.$invalid" :invalid-input="v$.name?.$errors.length > 0" />
                </div>
                <div class="flex items-center justify-center ml-6">
                    <c-button :tailwind-class="['flex items-center btn-primary m-0']" @click="createCategory">
                        <span class="material-icons">
                            add
                        </span>
                    </c-button>
                </div>
            </div>
        </div>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <div v-if="categories.length > 0" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div v-for="category of categories" :key="category.id"
                         class="relative py-6 px-4 shadow-lg rounded-lg">
                        <div class="flex flex-col items-center">
                            <div class="divide-y divide-gray-200 mb-4 mt-2">
                                <c-input v-if="editMode && (clickedCategoryId === category.id)" v-model="category.name"
                                         @click="clickedCategory(false, category.id)"
                                         :id="'input-' + category.id"
                                         @focusout="updateName(category)"
                                />
                                <h2 v-else @click="clickedCategory(true, category.id)"
                                    class="bold text-xl flex items-center">
                                    {{ category.name }}
                                </h2>
                            </div>
                        </div>
                        <div class="absolute top-2 right-2 cursor-pointer">
                            <Menu as="div" class="relative inline-block">
                                <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                                </MenuButton>
                                <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                    <div class="p-1">
                                        <MenuItem as="div" v-slot="{ active }">
                                            <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                    @click="addDishesModal(category)"
                                            >
                                                <span class="material-icons mr-2" style="font-size: 20px">
                                                    edit
                                                </span>
                                                <span class="whitespace-nowrap">
                                                    Ajouter des plats
                                                </span>
                                            </button>
                                        </MenuItem>
                                        <MenuItem as="div" v-slot="{ active }">
                                            <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                    @click="dialog.show(category)"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                                Supprimer
                                            </button>
                                        </MenuItem>
                                    </div>
                                </MenuItems>
                            </Menu>
                        </div>
                    </div>
                </div>
                <div v-else-if="selectedRestaurant.id === ''" class="text-red-500 italic text-lg">
                    Sélectionner un restaurant
                </div>
                <div v-else class="text-red-500 italic text-lg">
                    Aucune catégorie n'a été ajouté
                </div>
            </div>
        </div>

    </c-container>
</template>

<script lang="ts">

import { computed, defineComponent, onMounted, ref, watch } from "vue";
import CContainer from "@/components/Custom/CContainer.vue";
import DeleteCategoryModal from "@/components/modal/DeleteCategoryModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import CInput from "@/components/Custom/CInput.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import AddDishesToCategoryModal from "@/components/modal/AddDishesToCategoryModal.vue";
import { MenuButton, Menu, MenuItem, MenuItems } from "@headlessui/vue";
import { minLength, required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { Category, MenuType } from "@/@types";

export default defineComponent({
    components: {
        CButton,
        CContainer,
        CInput,
        AddDishesToCategoryModal,
        DeleteCategoryModal,
        BeatLoader,
        MenuButton,
        Menu,
        MenuItem,
        MenuItems
    },
    setup() {
        const store = useStore();

        const dialog = ref();
        const dialogDishes = ref();
        const loading = ref<boolean>();
        const state = ref({
            name: ''
        });

        const editMode = ref(false);
        const clickedCategoryId = ref('');

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("categories/getCategories", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    createToast('Failed to retrieve Category', { type: "danger", position: "bottom-right" })
                }
            }
        });

        const categories = computed(() => store.getters["categories/categories"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("categories/getCategories", selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                loading.value = false;
                createToast('Failed to retrieve Category', { type: "danger", position: "bottom-right" })
            }
        });

        const rules = computed(() => ({
            name: { required, minLength: minLength(1) }
        }));

        const show = ((item: Category) => dialog.value.show(item));
        const addDishesModal = ((item: Category) => dialogDishes.value.show(item));

        const updateName = (async (category: Category) => {
            try {
                editMode.value = !editMode.value;
                const res = await store.dispatch("categories/updateCategory", {
                    restaurantId: selectedRestaurant.value.id,
                    category: category
                });
                createToast(res.message, { type: "success", position: "bottom-right" });
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        });

        const clickedCategory = ((edit: boolean, categoryId: string) => {
            setTimeout(() => {
                const input = document.getElementById(`input-${categoryId}`);
                if (input) input.focus();
            }, 200);
            if (edit) {
                editMode.value = !editMode.value;
            }
            clickedCategoryId.value = categoryId;
        });

        const createCategory = (async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                try {
                    const res = await store.dispatch("categories/addCategory", {
                        restaurantId: selectedRestaurant.value.id,
                        category: state.value
                    });
                    createToast(res.message, { type: "success", position: "bottom-right" })
                    state.value.name = '';
                    v$.value.$reset();
                } catch (e: any) {
                    createToast(e.message, { type: "danger", position: "bottom-right" })
                }
            }
        });

        const v$ = useVuelidate<ValidationRule>(rules, state);

        return {
            state,
            v$,
            createCategory,
            categories,
            updateName,
            editMode,
            clickedCategory,
            loading,
            clickedCategoryId,
            dialog,
            dialogDishes,
            addDishesModal,
            selectedRestaurant,
            show
        }
    }
})
</script>
