<template>
    <dish-modal ref="modalDish"></dish-modal>
    <c-container>
        <div class="text-2xl font-bold">Vos plats</div>
        <div v-if="selectedRestaurant.id === ''" class="italic text-red-500 text-lg">
            Sélectionner un restaurant
        </div>
        <div v-else>
            <div class="flex pb-5 gap-x-5">
                <c-button id="create-dish" class="btn-primary" @click="show">Ajouter un plat</c-button>
                <FilterDish @on-change-category="onChangeCategory"/>
            </div>
            <!--            <c-button @click="cardLayoutConfig = !cardLayoutConfig" class="btn-primary">Changer le mode d'affichage</c-button>-->

            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <div v-if="isCategorySelected ? categoryDishes.length > 0 : dishes?.length > 0">
                    <div v-if="cardLayoutConfig"
                         class="flex flex-wrap grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-5">
                        <div v-for="dish of isCategorySelected ? categoryDishes : dishes" :key="dish.id"
                             class="shadow-lg rounded relative">
                            <div>
                                <img :src="generateRandomPhotos()" :alt="dish.name"
                                     class="w-full max-h-32 h-auto max-w-full"/>
                            </div>
                            <div class="p-3">
                                <div class="flex justify-between">
                                    <div class="text-left text-lg font-bold">
                                        {{ dish.name }}
                                    </div>
                                    <div>
                                        <Menu as="div" class="relative inline-block">
                                            <MenuButton class="flex items-center">
                                <span class="material-icons bg-white rounded-full">
                                    more_vert
                                </span>
                                            </MenuButton>
                                            <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                                <div class="p-1">
                                                    <MenuItem as="div" v-slot="{ active }" @click="updateDish(dish)">
                                                        <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                                            Editer
                                                        </button>
                                                    </MenuItem>
                                                    <MenuItem as="div" v-slot="{ active }" @click="deleteDish(dish)">
                                                        <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                                            Supprimer
                                                        </button>
                                                    </MenuItem>
                                                </div>
                                            </MenuItems>
                                        </Menu>
                                    </div>
                                </div>
                                <div class="text-left text-gray-500">
                                    {{ dish.price }} €
                                </div>
                            </div>
                        </div>
                    </div>
                    <c-table v-else :items="isCategorySelected ? categoryDishes : dishes" :fields="fields"
                             :module-name="{ name: 'dishes', multiple: 2 }">
                        <template #is_available="{ is_available }">
                            {{ is_available ? 'Oui' : 'Non' }}
                        </template>
                        <template #price="{ price }">
                            {{ price }} €
                        </template>
                        <template #custom="{ row }">
                            <Menu as="div" class="relative inline-block">
                                <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                                </MenuButton>
                                <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                    <div class="p-1">
                                        <MenuItem as="div" v-slot="{ active }" @click="updateDish(row)">
                                            <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                                Editer
                                            </button>
                                        </MenuItem>
                                        <MenuItem as="div" v-slot="{ active }" @click="deleteDish(row)">
                                            <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                                Supprimer
                                            </button>
                                        </MenuItem>
                                    </div>
                                </MenuItems>
                            </Menu>
                        </template>
                    </c-table>
                </div>
                <div v-else class="text-red-500 italic text-lg">Aucun plat n'a été ajouté</div>
            </div>
        </div>
    </c-container>
</template>


<script lang="ts">
import { computed, defineComponent, onMounted, ref, toRefs, watch } from "vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { cardLayoutConfig } from "@/localStorage/cardTableLayoutConfig";
import CContainer from "@/components/Custom/CContainer.vue";
import CButton from "@/components/Custom/CButton.vue";
import DishModal from "@/components/modal/DishModal.vue";
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { Category, Dish } from "@/@types";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import FilterDish from "@/components/Admin/FilterDish.vue";
import generateRandomPhotos from "@/composables/generateRandomPhotos";

export default defineComponent({
    name: 'Dish',
    components: {
        CTable,
        DishModal,
        CButton,
        CContainer,
        BeatLoader,
        Menu,
        MenuButton,
        MenuItems,
        MenuItem,
        FilterDish
    },
    setup() {
        const store = useStore();
        const modalDish = ref();
        const loading = ref<boolean>();
        const isCategorySelected = ref<boolean>(false);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);
        const dishes = computed(() => store.getters["dishes/dishes"]);
        const categoryDishes = computed(() => store.getters["categoryDish/dishes"]);

        watch(selectedRestaurant, async () => {
            loading.value = true;
            await store.dispatch("dishes/getDishes", selectedRestaurant.value.id);
            loading.value = false;
        });

        onMounted(async () => {
            try {
                if (selectedRestaurant.value.id !== '') {
                    loading.value = true;
                    await store.dispatch("dishes/getDishes", selectedRestaurant.value.id);
                    loading.value = false;
                }
            } catch (e) {
                createToast('You have to select a restaurant first', { type: 'danger', position: 'bottom-right' });
                loading.value = false;
            }
        });

        const onChangeCategory = (async (payload: any) => {
            if (payload.request) {
                isCategorySelected.value = true;
                loading.value = true;
                await store.dispatch('categoryDish/getCategoryDishes', {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: payload.category.id
                });
                loading.value = false;
            } else {
                loading.value = false;
                isCategorySelected.value = false;
            }
        });

        const updateDish = ((dish: Dish) => {
            modalDish.value.show(dish);
        });

        const deleteDish = (async (dish: Dish) => {
            try {
                const res = await store.dispatch("dishes/deleteDish", {
                    restaurantId: selectedRestaurant.value.id,
                    dishId: dish.id
                });
                createToast(res.message, { type: "success", position: "bottom-right" })
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" })
            }
        });

        const fields = [
            {
                key: "name",
                alias: "Nom",
                sortable: true
            },
            {
                key: "price",
                alias: "Prix",
                sortable: true
            },
            {
                key: "is_available",
                alias: "Disponible",
                sortable: true
            },
            {
                key: "",
                class: "hidden"
            }
        ];

        const show = (() => modalDish.value.show());

        return {
            selectedRestaurant,
            dishes,
            show,
            modalDish,
            fields,
            updateDish,
            deleteDish,
            loading,
            cardLayoutConfig,
            onChangeCategory,
            categoryDishes,
            isCategorySelected,
            generateRandomPhotos
        }
    }
})
</script>
