<template>
    <div class="flex gap-x-5">
        <SwitchLayoutDisplay />
        <SwitchCategoryFilter @on-change-category="onChangeCategory" />
<!--        <FilterDishesByPrice :min="min" :max="max" />-->
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import SwitchLayoutDisplay from "@/components/Helper/SwitchLayoutDisplay.vue";
import SwitchCategoryFilter from "@/components/Helper/SwitchCategoryFilter.vue";
import { Category } from "@/@types";
import FilterDishesByPrice from "@/components/Helper/FilterDishesByPrice.vue";
export default defineComponent({
    components: { FilterDishesByPrice, SwitchCategoryFilter, SwitchLayoutDisplay },
    props: {
        min: {
            type: Number as PropType<number>
        },
        max: {
            type: Number as PropType<number>
        }
    },
    setup(props, { emit }) {
        const onChangeCategory = ((category: Category) => {
            emit('onChangeCategory', category);
        });

        return { onChangeCategory }
    }
});
</script>
