<template>
    <div class="p-3 flex flex-col">
        <ReservationModal ref="reservationModal" :restaurant="restaurant"
                          :number-of-people="parseInt(selectedNumberOfPeople.split(' ')[0])"
                          :reservation-date="requestedDateWithHours(hourSelected)"/>
        <div class="border p-4">
            <h3 class="text-left font-bold">Réserver une table</h3>
            <div class="flex flex-col items-start gap-y-3 text-left md:items-end md:flex-row md:gap-x-3">
                <Listbox v-model="selectedNumberOfPeople">
                    <div class="relative mt-1">
                        <ListboxButton
                            class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                        >
                            <span class="block truncate">{{ selectedNumberOfPeople }}</span>
                            <span
                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                            >
                        <span class="material-icons">unfold_more</span>
                                <!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                        </ListboxButton>

                        <transition
                            leave-active-class="transition duration-100 ease-in"
                            leave-from-class="opacity-100"
                            leave-to-class="opacity-0"
                        >
                            <ListboxOptions
                                class="absolute mt-1 max-h-60 overflow-auto w-full z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                            >
                                <ListboxOption
                                    v-for="people in numberOfPeople"
                                    :key="people"
                                    v-slot="{ active, selected }"
                                    :value="people"
                                    as="template"
                                >
                                    <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative cursor-default select-none py-2 pl-2 pr-4 flex']"
                                    >
                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ people }}
                                </span>
                                        <span v-if="selected"
                                              class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                        >
                                </span>
                                    </li>
                                </ListboxOption>
                            </ListboxOptions>
                        </transition>
                    </div>
                </Listbox>
                <c-input v-model="requestedDate" round size="sm" type="date" :min="minimalDate"/>
                <Listbox v-model="selectedTime">
                    <div class="relative mt-1">
                        <ListboxButton
                            class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                        >
                            <span class="block truncate">{{ selectedTime }}</span>
                            <span
                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                            >
                        <span class="material-icons">unfold_more</span>
                                <!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                        </ListboxButton>

                        <transition
                            leave-active-class="transition duration-100 ease-in"
                            leave-from-class="opacity-100"
                            leave-to-class="opacity-0"
                        >
                            <ListboxOptions
                                class="absolute mt-1 max-h-60 overflow-auto w-full z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                            >
                                <ListboxOption
                                    v-for="time in listTimes"
                                    :key="time"
                                    v-slot="{ active, selected }"
                                    :value="time"
                                    as="template"
                                >
                                    <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative cursor-default select-none py-2 pl-2 pr-4 flex']"
                                    >
                                <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ time }}
                                </span>
                                        <span v-if="selected"
                                              class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                        >
                                </span>
                                    </li>
                                </ListboxOption>
                            </ListboxOptions>
                        </transition>
                    </div>
                </Listbox>
            </div>
            <div class="gap-3 flex flex-wrap pt-3">
                <div v-for="time in availableTimes">
                    <c-button @click="openReservationModal(time)" class="btn-success text-sm"
                              :disabled="!isRestaurantOpen(restaurant.restaurantTimes, requestedDateWithHours(time))">
                        {{ time }}
                    </c-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Restaurant } from "@/@types";
import { computed, defineComponent, onMounted, PropType, ref, toRefs, watch } from "vue";
import { Listbox, ListboxOptions, ListboxOption, ListboxLabel, ListboxButton } from "@headlessui/vue";
import CInput from "@/components/Custom/CInput.vue";
import CButton from "@/components/Custom/CButton.vue";
import { isRestaurantOpen } from "@/composables/isRestaurantOpen";
import ReservationModal from "@/components/modal/ReservationModal.vue";

export default defineComponent({
    name: 'MakeReservation',
    components: {
        Listbox,
        ListboxOptions,
        ListboxOption,
        ListboxLabel,
        ListboxButton,
        CInput,
        CButton,
        ReservationModal
    },
    props: {
        restaurant: {
            type: Object as PropType<Restaurant>,
            default: () => {
            }
        }
    },
    setup(props) {
        const { restaurant } = toRefs(props);
        const requestedDate = ref('');
        const reservationModal = ref();
        const hourSelected = ref<string>('');

        const numberOfPeople = ref([
            '1 personne', '2 personnes', '3 personnes', '4 personnes', '5 personnes', '6 personnes', '7 personnes', '8 personnes', '9 personnes'
        ]);

        const listTimes = ref([
            '11h00', '11h30', '12h00', '12h30', '13h00', '13h30', '14h00', '14h30', '15h00', '15h30', '16h00', '16h30', '17h00', '17h30', '18h00', '18h30', '19h00', '19h30', '20h00', '20h30', '21h00', '21h30', '22h00', '22h30', '23h00', '23h30', '00h00'
        ]);

        const availableTimes = ref<string[]>([]);

        const selectedNumberOfPeople = ref(numberOfPeople.value[1]);

        const selectedTime = ref(listTimes.value[1]);

        watch(selectedTime, (newVal, oldVal) => {
            fetchAvailableTimes();
        });

        watch(requestedDate, (newVal, oldVal) => {
            fetchAvailableTimes();
        });

        const requestedDateWithHours = ((hours: string) => {
            return `${requestedDate.value}T${hours.replace('h', ':')}:00`;
        });

        const minimalDate = computed(() => {
            const date = new Date().toLocaleString('fr', { year: 'numeric', month: 'numeric', day: 'numeric' });
            const fragment = date.split('/');
            const day = fragment[0];
            const month = fragment[1];
            const year = fragment[2];

            return `${year}-${month}-${day}`;
        });

        const formatedDate = computed(() => {
            const fragment = requestedDate.value.split('/');
            const day = fragment[0];
            const month = fragment[1];
            const year = fragment[2];

            return `${year}-${month}-${day}`;
        })

        const fetchAvailableTimes = () => {
            if (requestedDate.value) {
                availableTimes.value = [];
                const requestedDateIndex = listTimes.value.findIndex(date => date === selectedTime.value);
                if (requestedDateIndex !== -1) {
                    if (requestedDateIndex <= 3) {
                        for (let i = 0; i < requestedDateIndex + 4; i++) {
                            availableTimes.value.push(listTimes.value[i]);
                        }
                    } else if (requestedDateIndex > listTimes.value.length - 4) {
                        for (let i = listTimes.value.length - 1; i > listTimes.value.length - 8; i--) {
                            availableTimes.value.unshift(listTimes.value[i]);
                        }
                    } else {
                        for (let i = requestedDateIndex - 4; i < requestedDateIndex + 4; i++) {
                            availableTimes.value.push(listTimes.value[i]);
                        }
                    }
                }
            }
        }

        const openReservationModal = ((hour: string) => {
            hourSelected.value = hour;
            reservationModal.value.show();
        });

        return {
            numberOfPeople,
            selectedNumberOfPeople,
            requestedDate,
            listTimes,
            selectedTime,
            minimalDate,
            availableTimes,
            isRestaurantOpen,
            formatedDate,
            requestedDateWithHours,
            reservationModal,
            openReservationModal,
            hourSelected
        }
    }
})
</script>
