<template>
    <delete-menu-modal ref="dialog" title="Êtes-vous sûr de supprimer ce menu ?"/>
    <add-dishes-modal ref="dialogDishes"/>

    <c-container>
        <h1 class="text-2xl font-bold">Vos Menus</h1>
        <div class="flex flex-col rounded-lg p-8 shadow my-6">
            <div class="text-left font-medium flex items-center text-lg">
                <ul class="list-disc">
                    <li>
                        Ajouter un menu en commençant par lui donner un nom
                    </li>
                    <li>
                        Changer la disponibilité du menu et son nom en cliquant dessus
                    </li>
                </ul>
            </div>
            <div class="flex justify-center pt-4">
                <div class="flex flex-col">
                    <c-input placeholder="Nom du menu" v-model="state.name" :messages="v$.name?.$errors[0]?.$message"
                             :valid-input="!v$.name.$invalid" :invalid-input="v$.name?.$errors.length > 0"></c-input>

                    <div id="display" @click="displayedMenu(false)"
                         :class="(state.display ? 'text-yellow-600 py-3 px-3 rounded-full text-sm' : 'text-red-600 py-3 px-3 rounded-full text-sm') + ' cursor-pointer font-bold'">
                        {{ state.display ? 'DISPONIBLE' : 'INDISPONIBLE' }}
                    </div>
                </div>
                <div class="flex items-center ml-6">
                    <c-button :tailwind-class="['flex items-center btn-primary m-0']" @click="createMenu">
                        <span class="material-icons">
                            add
                        </span>
                    </c-button>
                </div>
            </div>
        </div>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"/>
            <div v-else>
                <div v-if="menus.length > 0" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
                    <div v-for="menu of menus" :key="menu.id" class="relative py-6 px-4 shadow-lg rounded-lg">
                        <div class="flex flex-col items-center">
                            <div class="divide-y divide-gray-200 my-2">
                                <c-input v-if="editMode && (clickedMenuId === menu.id)" v-model="menu.name"
                                         :id="'input-' + menu.id"
                                         @click="clickedMenu(false, menu.id)"
                                         @focusout="updateName(menu)"
                                />
                                <h2 v-else @click="clickedMenu(true, menu.id)" class="bold text-xl flex items-center">
                                    {{ menu.name }}
                                </h2>
                            </div>
                            <div class="font-bold text-lg">
                                {{ menuPrice(menu.id) ? menuPrice(menu.id) + ' €' : '0 €' }}
                            </div>
                            <div @click="displayedMenu(true, menu)"
                                 :class="(menu.display ? 'text-yellow-600 py-2 px-2 rounded-full text-sm' : 'text-red-600 py-2 px-2 rounded-full text-sm') + ' cursor-pointer items-center flex font-bold'">
                                {{ menu.display ? 'DISPONIBLE' : 'INDISPONIBLE' }}
                            </div>
                        </div>
                        <div class="absolute top-2 right-2 cursor-pointer">
                            <Menu as="div" class="relative inline-block">
                                <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                                </MenuButton>
                                <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                    <div class="p-1">
                                        <MenuItem as="div" v-slot="{ active }">
                                            <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                    @click="addDishesModal(menu)"
                                            >
                                                <span class="material-icons mr-2" style="font-size: 20px">
                                                    edit
                                                </span>
                                                <span class="whitespace-nowrap">
                                                    Ajouter des plats
                                                </span>
                                            </button>
                                        </MenuItem>
                                        <MenuItem as="div" v-slot="{ active }">
                                            <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                                    @click="deleteMenuModal(menu)"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                                Supprimer
                                            </button>
                                        </MenuItem>
                                    </div>
                                </MenuItems>
                            </Menu>
                        </div>
                    </div>
                </div>
                <div v-else-if="selectedRestaurant.id === ''" class="text-red-500 italic text-lg">
                    Sélectionner un restaurant
                </div>
                <div v-else class="text-red-500 italic text-lg">
                    Aucun menu n'a été ajouté
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">

import { computed, defineComponent, onMounted, ref, watch } from "vue";
import CContainer from "@/components/Custom/CContainer.vue";
import DeleteMenuModal from "@/components/modal/DeleteMenuModal.vue";
import AddDishesModal from "@/components/modal/AddDishesToMenuModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import CInput from "@/components/Custom/CInput.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { minLength, required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { MenuButton, Menu, MenuItem, MenuItems } from "@headlessui/vue";
import { MenuType } from "@/@types";

export default defineComponent({
    components: {
        CButton,
        CContainer,
        CInput,
        DeleteMenuModal,
        AddDishesModal,
        BeatLoader,
        MenuButton,
        Menu,
        MenuItem,
        MenuItems
    },
    setup() {
        const store = useStore();

        const dialog = ref();
        const dialogDishes = ref();
        const loading = ref<boolean>();
        const state = ref({
            name: '',
            display: false
        });

        const editMode = ref(false);
        const clickedMenuId = ref('');

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("menus/getMenus", selectedRestaurant.value.id);
                    await store.dispatch("menuDish/getAllMenuDishes", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    // createToast('Erreur lors de la récupération des menus', { type: "danger", position: "bottom-right" })
                }
            }
        });

        const menus = computed(() => store.getters["menus/menus"]);
        const menuPrice = computed(() => store.getters["menuDish/menuPrice"]);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("menus/getMenus", selectedRestaurant.value.id);
                await store.dispatch("menuDish/getAllMenuDishes", selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                loading.value = false;
                createToast('Erreur lors de la récupération des menus', { type: "danger", position: "bottom-right" })
            }
        });

        const rules = computed(() => ({
            name: { required, minLength: minLength(1) }
        }));

        const deleteMenuModal = ((item: MenuType) => dialog.value.show(item));
        const addDishesModal = ((item: MenuType) => dialogDishes.value.show(item));

        const displayedMenu = (async (edit: boolean, menu: MenuType) => {
            if (edit) {
                menu.display = !menu.display;
                const res = await store.dispatch("menus/updateMenu", { restaurantId: selectedRestaurant.value.id, menu: menu });
                createToast(res.message, { type: "success", position: "bottom-right" })
            } else {
                state.value.display = !state.value.display;
            }
        });

        const updateName = (async (menu: MenuType) => {
            try {
                editMode.value = !editMode.value;
                const res = await store.dispatch("menus/updateMenu", { restaurantId: selectedRestaurant.value.id, menu: menu });
                createToast(res.message, { type: "success", position: "bottom-right" })
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" })
            }
        });

        const clickedMenu = ((edit: boolean, menuId: string) => {
            setTimeout(() => {
                const input = document.getElementById(`input-${menuId}`);
                if (input) input.focus();
            }, 200);
            if (edit) {
                editMode.value = !editMode.value;
            }
            clickedMenuId.value = menuId;
        });

        const createMenu = (async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                try {
                    const res = await store.dispatch("menus/addMenu", {
                        restaurantId: selectedRestaurant.value.id,
                        menu: state.value
                    });
                    createToast(res.message, { type: "success", position: "bottom-right" })
                    state.value.name = '';
                    v$.value.$reset();
                } catch (e: any) {
                    createToast(e.message, { type: "danger", position: "bottom-right" })
                }
            }
        });

        const v$ = useVuelidate<ValidationRule>(rules, state);

        return {
            state,
            v$,
            createMenu,
            menus,
            displayedMenu,
            updateName,
            editMode,
            clickedMenu,
            clickedMenuId,
            dialog,
            dialogDishes,
            deleteMenuModal,
            loading,
            addDishesModal,
            selectedRestaurant,
            menuPrice
        }
    }
})
</script>
