<template>
    <c-container>
        <h1 class="text-2xl font-bold">Vos réservations</h1>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else class="flex flex-col">
                <div class="flex items-center gap-x-3 flex-wrap py-5">
                    <FilterReservationsByStatus class="border border-gray-200 border-solid p-2 rounded-xl" @filterUpdated="filterUpdated" />
                    <FilterReservationsByTime @filterUpdated="filterUpdated" />
                </div>
                <c-table v-if="reservations?.length > 0" :items="filteredReservations" :fields="fields"
                         :moduleName="{ name: 'reservations', multiple: 1}">
                    <template #reservation_date="{ reservation_date }">
                        {{ parsingDateToString(reservation_date) }}
                    </template>
                    <template #status="{ status }">
                        <div
                            :class="statusColor(status) + ' text-white font-bold w-1/2 text-center rounded-full'">
                            <p class="py-1">
                                {{ status[0].toUpperCase() }}
                            </p>
                        </div>
                    </template>
                    <template #is_validated="{ is_validated}">
                        {{ is_validated ? 'Oui' : 'Non'}}
                    </template>
                    <template #custom="{ row }">
                        <div class="flex items-center justify-center">
                            <button @click="updateReservation(row, 'Accepted')"
                                    :class="'flex bg-green-500 text-white group rounded-md px-2 py-1 text-sm'"
                            >
                            <span class="material-icons" style="font-size: 20px">
                                check
                            </span>
                            </button>
                        </div>
                        <Menu as="div" class="relative inline-block">
                            <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                            </MenuButton>
                            <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="p-1">
                                    <MenuItem as="div" v-slot="{ active }" @click="updateReservation(row,'Refused')">
                                        <button :active="active" :class="[active ? 'bg-red-400 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                close
                                            </span>
                                            Refuse
                                        </button>
                                    </MenuItem>
                                    <MenuItem as="div" v-slot="{ active }" @click="updateReservation(row, 'Available')">
                                        <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                event_available
                                            </span>
                                            Available
                                        </button>
                                    </MenuItem>
                                </div>
                            </MenuItems>
                        </Menu>
                    </template>
                </c-table>
                <div v-else-if="selectedRestaurant.id === ''" class="text-red-500 italic text-lg">
                    Sélectionner un restaurant
                </div>
                <div v-else>
                    Pas de réservations
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import { createToast } from 'mosha-vue-toastify';
import { DateTime } from "luxon";
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { Reservation } from "@/@types";
import CButton from "@/components/Custom/CButton.vue";
import CPills from "@/components/Custom/CPills.vue";
import CContainer from "@/components/Custom/CContainer.vue";
import { Menu, MenuItem, MenuItems, MenuButton } from "@headlessui/vue";
import { parsingDateToString } from "../Helper/parsingDateToString"
import FilterReservationsByStatus from "../Helper/FilterReservationsByStatus.vue";
import FilterReservationsByTime from "@/components/Helper/FilterReservationsByTime.vue";

export default defineComponent({
    name: 'ManageReservation',
    components: {
        FilterReservationsByTime,
        FilterReservationsByStatus,
        CContainer,
        CPills,
        CButton,
        CTable,
        BeatLoader,
        Menu,
        MenuItem,
        MenuItems,
        MenuButton
    },
    emits: ['filterUpdated'],
    setup() {
        const store = useStore();
        const loading = ref<boolean>();
        const filteredReservations = ref([]);
        const statusFilter = ref([]);
        const timeFilter = ref<{ id: Number | null, name: String | null }>({ id: null, name: null});

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);
        const selectedReservation = computed(() => store.getters["reservations/selectedReservation"]);

        const reservations = computed({
            get: () => store.getters["reservations/reservations"],
            set: (filteredReservations) => {
                reservations.value = filteredReservations
            }
        });

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("reservations/getReservations", selectedRestaurant.value.id);
                resetFilter();
                loading.value = false;
            } catch (e: any) {
                loading.value = false;
                createToast(e.message, { type: 'danger', position: 'bottom-right' });
            }
        });

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("reservations/getReservations", selectedRestaurant.value.id);
                    resetFilter();
                    loading.value = false;
                } catch (e: any) {
                    loading.value = false;
                    createToast(e.message, { type: 'danger', position: 'bottom-right' });
                }
            }
        });

        const resetFilter = () => {
            filteredReservations.value = reservations.value;
        };

        const fields = [
            {
                key: 'name',
                alias: 'Nom',
                sortable: true
            },
            {
                key: 'nb_people',
                alias: 'Personnes',
                sortable: true
            },
            {
                key: 'reservation_date',
                alias: 'Date',
                sortable: true
            },
            {
                key: 'is_validated',
                alias: 'Validé',
                sortable: true
            },
            {
                key: 'status',
                alias: 'Statut',
                sortable: true
            },
            {
                key: "",
                class: "hidden"
            }
        ];

        const filterUpdated = (filter: any, type: string) => {
            if(type === "status") statusFilter.value = filter;
            if(type === "time") timeFilter.value = filter;
            if(statusFilter.value.every(item => item !== 'undefined')) {
                if (statusFilter.value.every((status: any) => status === undefined)) {
                    filteredReservations.value = reservations.value;
                } else {
                    filteredReservations.value = reservations.value.filter((reservation: Reservation) => {
                        return statusFilter.value.some((item: any) => item === reservation.status);
                    });
                }
            }
            if(timeFilter.value.id) {
                filteredReservations.value = filteredReservations.value.filter((reservation: Reservation) => {
                    const reservationDate = DateTime.fromISO(reservation.reservation_date);
                    const now = DateTime.now();
                    switch (timeFilter.value.id) {
                        case 1:
                            return reservationDate;
                        case 2:
                            const oneDayAfter = DateTime.now().plus({ day: 1 });
                            return reservationDate >= now && reservationDate < oneDayAfter;
                        case 3:
                            const oneWeekAfter = DateTime.now().plus({ week: 1 });
                            return reservationDate >= now && reservationDate < oneWeekAfter;
                        case 4:
                            const oneMonthAfter = DateTime.now().plus({ month: 1 });
                            return reservationDate >= now && reservationDate < oneMonthAfter;
                        case 5:
                            const oneMonthAfterPlus = DateTime.now().plus({ month: 1 });
                            return reservationDate >= now && reservationDate > oneMonthAfterPlus;
                    }
                });
            }
        };

        const updateReservation = (async (reservation: Reservation, status: string) => {
            let updatedReservation = reservation;
            updatedReservation.status = status;
            await store.dispatch('reservations/updateReservation', {
                restaurantId: selectedRestaurant.value.id,
                updatedReservation: updatedReservation
            });
        });

        const statusColor = ((status: string) => {
            switch (status) {
                case 'Pending':
                    return 'bg-yellow-500';
                case 'Accepted':
                    return 'bg-green-500';
                case 'Canceled':
                    return 'bg-red-500';
                case 'Refused':
                    return 'bg-red-700';
                default:
                    return 'bg-green-500';
            }
        });

        return {
            reservations,
            fields,
            selectedReservation,
            statusColor,
            updateReservation,
            loading,
            filterUpdated,
            filteredReservations,
            selectedRestaurant,
            parsingDateToString
        }
    }
})
</script>
