<template>
    <handle-restaurant-modal ref="handleRestaurantDialog"></handle-restaurant-modal>
    <delete-restaurant-modal ref="deleteRestaurantDialog"></delete-restaurant-modal>
    <c-container>
        <h1 class="text-2xl font-bold">Vos restaurants</h1>
        <div class="flex py-5 gap-x-5">
            <c-button id="create-restaurant" class="btn-primary" @click="show">Ajouter un restaurant</c-button>
            <SwitchLayoutDisplay />
        </div>
        <div v-if="cardLayoutConfig" class="flex flex-wrap grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
            <div v-for="restaurant of restaurants" :key="restaurant.id" class="shadow-lg rounded relative">
                <div>
                    <img :src="generateRandomPhotos()" :alt="restaurant.name" class="w-full max-h-52 h-auto max-w-full"/>
                </div>
                <div class="p-3">
                    <div class="flex justify-between">
                        <div class="text-left text-lg font-bold">
                            {{ restaurant.name }}
                        </div>
                        <div>
                            <Menu as="div" class="relative inline-block">
                                <MenuButton class="flex items-center">
                                <span class="material-icons bg-white rounded-full">
                                    more_vert
                                </span>
                                </MenuButton>
                                <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                    <div class="p-1">
                                        <MenuItem as="div" v-slot="{ active }" @click="updateRestaurant(restaurant)">
                                            <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                                Editer
                                            </button>
                                        </MenuItem>
                                        <MenuItem as="div" v-slot="{ active }" @click="deleteRestaurant(restaurant)">
                                            <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                            >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                                Supprimer
                                            </button>
                                        </MenuItem>
                                    </div>
                                </MenuItems>
                            </Menu>
                        </div>
                    </div>
                    <div class="text-left text-gray-500">
                        {{ restaurant.kitchen_style }}
                    </div>
                    <div class="mt-2">
                        <c-button @click="redirectToRestaurantPage(restaurant.id)" class="btn-secondary"
                                  :tailwind-class="['text-sm']">Voir la page du restaurant
                        </c-button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table class="pt-3" v-if="restaurants.length > 0" :fields="fields" :items="restaurants"
                         :moduleName="{ name: 'restaurants', multiple: 1}" @onRowClicked="selectRestaurant">
                    <template #custom="{ row }">
                        <Menu as="div" class="relative inline-block">
                            <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                            </MenuButton>
                            <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="p-1">
                                    <MenuItem as="div" v-slot="{ active }" @click="updateRestaurant(row)">
                                        <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                            Editer
                                        </button>
                                    </MenuItem>
                                    <MenuItem as="div" v-slot="{ active }" @click="deleteRestaurant(row)">
                                        <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                            Supprimer
                                        </button>
                                    </MenuItem>
                                </div>
                            </MenuItems>
                        </Menu>
                    </template>
                </c-table>
                <div v-else>
                    Pas de restaurant
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, watch } from "vue";
import HandleRestaurantModal from "@/components/modal/HandleRestaurantModal.vue";
import SwitchLayoutDisplay from "@/components/Helper/SwitchLayoutDisplay.vue";
import CButton from "@/components/Custom/CButton.vue";
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { useStore } from "vuex";
import { Restaurant } from "@/@types";
import { reservationOriginalState, tableOriginalState, dishOriginalState } from "@/originalState";
import CContainer from "@/components/Custom/CContainer.vue";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import router from "@/router";
import { cardLayoutConfig } from "@/localStorage/cardTableLayoutConfig";
import { createToast } from "mosha-vue-toastify";
import generateRandomPhotos from "@/composables/generateRandomPhotos";
import DeleteRestaurantModal from "@/components/modal/DeleteRestaurantModal.vue";

export default defineComponent({
    name: 'ManageRestaurant',
    components: {
        Menu,
        MenuItem,
        MenuItems,
        MenuButton,
        CContainer,
        SwitchLayoutDisplay,
        CButton,
        HandleRestaurantModal,
        DeleteRestaurantModal,
        CTable,
        BeatLoader
    },
    setup() {
        const store = useStore();
        const handleRestaurantDialog = ref();
        const deleteRestaurantDialog = ref();
        const loading = ref<boolean>();

        const restaurants = computed(() => store.getters['restaurants/ownerRestaurants']);
        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);

        const fields = reactive([
            {
                key: "name",
                alias: "Nom",
                sortable: true
            },
            {
                key: "address",
                alias: "Adresse"
            },
            {
                key: "kitchen_style",
                alias: "Style de cuisine",
                sortable: true
            },
            {
                key: "",
                class: "hidden"
            }
        ]);

        const submit = (async () => {
            // Call store
        });

        const selectRestaurant = (async (restaurant: Restaurant) => {
            // Reset all current Items
            await store.dispatch('restaurants/setCurrentRestaurant', restaurant);

            await store.dispatch("reservations/setCurrentReservation", {
                ...reservationOriginalState
            });
            await store.dispatch("tables/setCurrentTable", {
                ...tableOriginalState
            });
        });

        const redirectToRestaurantPage = ((restaurantId: string) => {
            router.push(`/restaurants/${restaurantId}`);
        });

        const updateRestaurant = ((restaurant: Restaurant) => {
            restaurant ? handleRestaurantDialog.value.show(restaurant) : handleRestaurantDialog.value.show(selectedRestaurant.value);
        });

        const deleteRestaurant = (async (restaurant: Restaurant) => {
            deleteRestaurantDialog.value.show(restaurant);
        });

        const show = (() => handleRestaurantDialog.value.show());

        return {
            submit,
            show,
            handleRestaurantDialog,
            restaurants,
            fields,
            selectRestaurant,
            updateRestaurant,
            deleteRestaurant,
            selectedRestaurant,
            loading,
            redirectToRestaurantPage,
            cardLayoutConfig,
            generateRandomPhotos,
            deleteRestaurantDialog
        }
    }
})
</script>
