<template>
    <div class="gap-y-2 pt-8">
        <div class="text-xl font-bold text-left pb-4">Horaires d'ouverture</div>

        <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)" class="mt-10"></beat-loader>
        <div v-else>
            <div class="flex items-center">
                <b class="w-32 text-left">Lundi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.mondayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.mondayCloseAt" placeholder="15" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Mardi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.tuesdayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.tuesdayCloseAt" placeholder="15" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Mercredi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.wednesdayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.wednesdayCloseAt" placeholder="15" round suffix="hour" type="number" min="1"
                             max="24" size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Jeudi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.thursdayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.thursdayCloseAt" placeholder="15" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Vendredi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.fridayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.fridayCloseAt" placeholder="15" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Samedi</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.saturdayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.saturdayCloseAt" placeholder="15" round suffix="hour" type="number" min="1"
                             max="24" size="sm"/>
                </div>
            </div>
            <div class="flex items-center">
                <b class="w-32 text-left">Dimanche</b>
                <div class="flex items-center gap-4 py-2">
                    <c-input v-model.number="restaurantTimes.sundayOpenAt" placeholder="9" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                    à
                    <c-input v-model.number="restaurantTimes.sundayCloseAt" placeholder="15" round suffix="hour" type="number" min="1" max="24"
                             size="sm"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import { defineComponent, PropType, ref, toRefs } from "vue";
import { Switch, SwitchGroup, SwitchLabel } from "@headlessui/vue";
import CInput from "@/components/Custom/CInput.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { RestaurantTimes } from "@/@types";

export default defineComponent({
    components: { Switch, SwitchLabel, SwitchGroup, CInput, BeatLoader },
    props: {
        restaurantTimes: {
            type: Object as PropType<Partial<RestaurantTimes>>
        }
    },
    setup(props) {
        const { restaurantTimes } = toRefs(props);
        const loading = ref(false);

        return { restaurantTimes, loading }
    }
})
</script>
