<template>
    <div>
        <h1 class="text-2xl font-bold">Vos Statistiques {{ selectedRestaurant.name }}</h1>
        <div v-if="selectedRestaurant.id !== ''" class="flex flex-row flex-wrap gap-10 pt-10 ">
            <div class="p-8 flex flex-col border rounded-lg border-b-blue-600 border-b-4 max-w-sm gap-y-3">
                <div>Nombre de plats</div>
                <div class="font-bold text-xl">{{ numberOfDishes }}</div>
            </div>
            <div class="p-8 flex flex-col border rounded-lg border-b-amber-600 border-b-4 max-w-sm gap-y-3">
                <div>Nombre de menus</div>
                <div class="font-bold text-xl">{{ numberOfMenus }}</div>
            </div>
            <div class="p-8 flex flex-col border rounded-lg border-b-pink-600 border-b-4 max-w-sm gap-y-3">
                <div>Nombre de catégories</div>
                <div class="font-bold text-xl">{{ numberOfCategories }}</div>
            </div>
            <div class="p-8 flex flex-col border rounded-lg border-b-cyan-600 border-b-4 max-w-sm gap-y-3">
                <div>Nombre d'employés</div>
                <div class="font-bold text-xl">{{ numberOfEmployees }}</div>
            </div>
            <div class="p-8 flex flex-col border rounded-lg border-b-emerald-600 border-b-4 max-w-sm gap-y-3">
                <div>Nombre de réservations</div>
                <div class="font-bold text-xl">{{ numberOfReservations }}</div>
            </div>
        </div>
        <div v-else class="text-red-500 italic text-lg">
            Sélectionner un restaurant
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, watch } from "vue";
import { useStore } from "vuex";

export default defineComponent({
    setup() {
        const store = useStore();

        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);
        const numberOfDishes = computed(() => store.getters['dishes/dishes'].length);
        const numberOfMenus = computed(() => store.getters['menus/menus'].length);
        const numberOfCategories = computed(() => store.getters['categories/categories'].length);
        const numberOfEmployees = computed(() => store.getters['users/employees'].length);
        const numberOfReservations = computed(() => store.getters['reservations/reservations'].length);

        watch(selectedRestaurant, async (newVal) => {
            if(newVal) {
                try {
                    await store.dispatch('dishes/getDishes', selectedRestaurant.value.id);
                    await store.dispatch('menus/getMenus', selectedRestaurant.value.id);
                    await store.dispatch('categories/getCategories', selectedRestaurant.value.id);
                    await store.dispatch('users/getEmployees', selectedRestaurant.value.id);
                    await store.dispatch('reservations/getReservations', selectedRestaurant.value.id);
                } catch (e) {
                    console.error(e);
                }
            }
        })

        return { numberOfDishes, numberOfMenus, numberOfCategories, numberOfEmployees, selectedRestaurant, numberOfReservations }
    }
})
</script>
