<template>
    <table-modal ref="handleTableModal"></table-modal>
    <c-container>
        <div class="text-2xl font-bold">Vos tables</div>
        <div v-if="selectedRestaurant.id === ''" class="italic text-red-500 text-lg">Sélectionner un restaurant</div>
        <div v-else>
            <div class="flex py-5">
                <c-button id="create-table" class="btn-primary" @click="show">Ajouter une table</c-button>
            </div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table v-if="tables.length > 0" :items="tables" :fields="fields"
                         :moduleName="{ name: 'tables', multiple: 1 }">
                    <template #available="{ available }">
                        {{ available ? 'Oui' : 'Non'}}
                    </template>
                    <template #custom="{ row }">
                        <Menu as="div" class="relative inline-block">
                            <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                            </MenuButton>
                            <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="p-1">
                                    <MenuItem as="div" v-slot="{ active }" @click="updateTable(row)">
                                        <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                            Editer
                                        </button>
                                    </MenuItem>
                                    <MenuItem as="div" v-slot="{ active }" @click="deleteTable(row)">
                                        <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                            Supprimer
                                        </button>
                                    </MenuItem>
                                </div>
                            </MenuItems>
                        </Menu>
                    </template>
                </c-table>
                <div v-else class="text-red-500 italic text-lg">
                    Aucune table n'a été ajouté
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import CTable from "@/components/Custom/CTable.vue";
import TableModal from "@/components/modal/TableModal.vue";
import { createToast } from "mosha-vue-toastify";
import CContainer from "@/components/Custom/CContainer.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import CButton from "@/components/Custom/CButton.vue";
import { Table } from "@/@types";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";

export default defineComponent({
    components: { CButton, CContainer, TableModal, CTable, BeatLoader, Menu, MenuButton, MenuItems, MenuItem },
    setup() {
        const store = useStore();
        const handleTableModal = ref();
        const loading = ref<boolean>();

        const tables = computed(() => store.getters["tables/tables"]);
        const selectedTable = computed(() => store.getters["tables/selectedTable"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("tables/tables", selectedRestaurant.value.id);
            } finally {
                loading.value = false;
            }
        });

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("tables/tables", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    createToast("Failed to retrieve tables", { type: "danger", position: "bottom-right" });
                    loading.value = false;
                }
            }

        });

        const show = (() => handleTableModal.value.show());

        const updateTable = ((table: Table) => {
            handleTableModal.value.show(table);
        });

        const deleteTable = (async (table: Table) => {
            try {
                const res = await store.dispatch("tables/deleteTable", {
                    restaurantId: selectedRestaurant.value.id,
                    tableId: table.id
                });
                createToast(res.message, { type: "success", position: "bottom-right" });
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        });

        const fields = [
            {
                key: "table_numero",
                alias: "Numéro de table",
                sortable: true
            },
            {
                key: "nb_place",
                alias: "Nombre de places",
                sortable: false
            },
            {
                key: "available",
                alias: "Disponible",
                sortable: true
            },
            {
                key: "",
                class: "hidden"
            }
        ];

        return {
            tables,
            fields,
            selectedRestaurant,
            handleTableModal,
            show,
            updateTable,
            selectedTable,
            deleteTable,
            loading
        }
    }
})
</script>
