<template>
    <create-user-modal ref="createUserDialog" />
    <edit-user-modal ref="editUserDialog" />
    <div>
        <h1 class="text-2xl font-bold">Vos employés</h1>
        <div v-if="selectedRestaurant.id === ''" class="italic text-red-500 text-lg">Sélectionner un restaurant</div>
        <div v-else class="flex py-5 gap-x-5">
            <c-button id="create-employee" class="btn-primary" @click="show">Ajouter un employé</c-button>
        </div>
        <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)" class="mt-10"></beat-loader>
        <div v-else>
            <div v-if="employees.length > 0">
                <c-table :fields="fields" :items="employees">
                    <template #roles="{ roles }">
                        {{ renderEmployeeRoles(roles) }}
                    </template>
                    <template #custom="{ row }">
                        <Menu as="div" class="relative inline-block">
                            <MenuButton class="flex items-center">
                                <span class="material-icons">
                                    more_vert
                                </span>
                            </MenuButton>
                            <MenuItems class="focus:outline-none absolute right-0 mt-2 z-20 w-32 origin-top-right divide-y
                                        divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="p-1">
                                    <MenuItem as="div" v-slot="{ active }" @click="updateUser(row)">
                                        <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                edit
                                            </span>
                                            Editer
                                        </button>
                                    </MenuItem>
                                    <MenuItem as="div" v-slot="{ active }" @click="deleteUser(row)">
                                        <button :active="active" :class="[active ? 'bg-red-500 text-white' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                        >
                                            <span class="material-icons mr-2" style="font-size: 20px">
                                                delete
                                            </span>
                                            Supprimer
                                        </button>
                                    </MenuItem>
                                </div>
                            </MenuItems>
                        </Menu>
                    </template>
                </c-table>
            </div>
            <div v-else>
                Pas d'employés
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import CreateUserModal from "../modal/CreateUserModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { computed, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import CTable from "@/components/Custom/CTable.vue";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { User } from "@/@types";
import { createToast } from "mosha-vue-toastify";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import EditUserModal from "@/components/modal/EditUserModal.vue";

export default {
    components: { EditUserModal, CTable, CreateUserModal, CButton, Menu, MenuButton, MenuItems, MenuItem, BeatLoader },
    setup() {
        const createUserDialog = ref();
        const editUserDialog = ref();
        const store = useStore();
        const loading = ref<boolean>(false);

        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);
        const employees = computed(() => store.getters['users/employees']);

        const fields = [
            {
                key: 'roles',
                alias: 'Roles',
                sortable: false
            },
            {
                key: 'firstname',
                alias: 'Prénom',
                sortable: true
            },
            {
                key: 'lastname',
                alias: 'Nom',
                sortable: true
            },
            {
                key: "",
                class: "hidden"
            }
        ];

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch('users/getEmployees', selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                createToast('Erreur lors de la récupération des utilisateurs', { position: "bottom-right", type: "danger"});
                loading.value = false;
            }
        });

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch('users/getEmployees', selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e: any) {
                    createToast('Erreur lors de la récupération des utilisateurs', { position: "bottom-right", type: "danger"});
                    loading.value = false;
                }
            }
        });

        const show = (() => {
            createUserDialog.value.show();
        });

        const renderEmployeeRoles = (roles: any) => {
            const role = roles.find((role: any) => role !== "ROLE_USER").replace('ROLE_', '');
            switch (role) {
                case 'COOKER':
                    return 'CUISINIER';
                case 'SERVER':
                    return 'SERVEUR';
                default:
                    return role;
            }
        };

        const deleteUser = async (user: User) => {
            try {
                const res = await store.dispatch('users/deleteEmployee', {
                    restaurantId: selectedRestaurant.value.id,
                    employeeId: user.id
                });
                createToast(res.message, { type: "success", position: "bottom-right" })
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        };

        const updateUser = (user: User) => {
            editUserDialog.value.show(user);
        };

        return {
            createUserDialog,
            editUserDialog,
            show,
            selectedRestaurant,
            employees,
            fields,
            deleteUser,
            updateUser,
            loading,
            renderEmployeeRoles
        }
    }
}
</script>
