<template>
    <div>
        <div class="pt-4">
            <span class="text-f-pink-600 font-bold"
                  style="font-size: 32px">Bienvenue</span>
        </div>
        <div class="pt-2 mb-5">Connectez-vous en entrant vos identifiants ci-dessous</div>
        <form class="w-1/2 m-auto">

            <c-input id="input-email" v-model="state.email" :invalid-input="v$.email.$errors.length > 0"
                     :messages="v$.email?.$errors[0]?.$message" :valid-input="!v$.email.$invalid" placeholder="Email"
                     type="email"/>

            <c-input id="input-password" class="mt-2" :invalid-input="v$.password.$errors.length > 0"
                     :messages="v$.password?.$errors[0]?.$message" :valid-input="!v$.password.$invalid"
                     v-model="state.password" placeholder="Password"
                     type="password"/>
        </form>
        <c-button id="connection" class="btn-primary mt-2" @click="connexion" :disabled="loginPending">
            Connexion
        </c-button>
        <div @click="router.push({ name: 'Signup' })" class="text-bold text-amber-500 text-lg cursor-pointer">Créer un
            compte
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CInput from "../Custom/CInput.vue";
import CButton from "../Custom/CButton.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { createToast } from "mosha-vue-toastify";
import { email, minLength, required, sameAs } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";

export default defineComponent({
    components: { CButton, CInput },
    setup() {
        const store = useStore();
        const router = useRouter();

        const isWaiter = computed(() => store.getters["users/waiter"]);

        const state = ref({
            email: '',
            password: ''
        });

        const rules = computed(() => ({
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(8)
            }
        }))

        const v$ = useVuelidate<ValidationRule>(rules, state);
        const loginPending = ref(false);

        const connexion = async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                loginPending.value = true;
                try {
                    await store.dispatch('users/login', {
                        ...state.value
                    });
                    await store.dispatch('users/userInformation');
                    await router.push({ name: 'Home' });
                } catch (e: any) {
                    loginPending.value = false;
                    createToast(e.message, { type: 'danger', position: 'bottom-right' })
                }
                loginPending.value = false;
            }
        }

        const result = computed(() => store.getters["users/auth"]);

        return { state, v$, connexion, result, loginPending, router }
    }
})
</script>

<style>
.wrapper {
    height: calc(100vh - var(--navbar-height));
}
</style>
