<template>
    <div>
        <div class="pt-4">
            <span class="text-f-pink-600 font-bold"
                  style="font-size: 32px">Bienvenue</span>
        </div>
        <div class="pt-2 mb-5">Créer un compte en remplissant les informations ci-dessous</div>
        <form class="w-1/2 m-auto">

            <c-input id="input-email" v-model="state.email" :invalid-input="v$.email.$errors.length > 0"
                     :messages="v$.email?.$errors[0]?.$message" :valid-input="!v$.email.$invalid" placeholder="Email" type="email"/>

            <c-input id="input-username" v-model="state.username" :invalid-input="v$.username.$errors.length > 0"
                     :messages="v$.username?.$errors[0]?.$message" :valid-input="!v$.username.$invalid" placeholder="Nom d'utilisateur" type="text"/>

            <c-input id="input-password" class="mt-2" :invalid-input="v$.password.$errors.length > 0"
                     :messages="v$.password?.$errors[0]?.$message" :valid-input="!v$.password.$invalid" v-model="state.password" placeholder="Mot de passe"
                     type="password"/>

            <c-input id="input-password-repeat" class="mt-2" :invalid-input="v$.repeatPassword.$errors.length > 0"
                     :messages="v$.repeatPassword?.$errors[0]?.$message" :valid-input="!v$.repeatPassword.$invalid"
                     v-model="state.repeatPassword" placeholder="Répéter votre mot de passe"
                     type="password"/>
        </form>
        <c-button id="connection" class="btn-primary mt-2" @click="connexion" :disabled="loginPending">
            Créer son compte
        </c-button>
        <div @click="router.push({ name: 'Login' })" class="text-bold text-amber-500 text-lg cursor-pointer">Se connecter</div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CInput from "../Custom/CInput.vue";
import CButton from "../Custom/CButton.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { createToast } from "mosha-vue-toastify";
import { required, email, minLength, sameAs } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";

export default defineComponent({
    components: { CButton, CInput },
    setup() {
        const store = useStore();
        const router = useRouter();
        const loginPending = ref(false);

        const state = ref({
            email: '',
            username: '',
            password: '',
            repeatPassword: ''
        });

        const rules = computed(() => ({
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(8)
            },
            repeatPassword: {
                required,
                sameAsPassword: sameAs(state.value.password),
                minLength: minLength(8)
            },
            username: { required },
        }))

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const connexion = async () => {
            const correctForm = await v$.value.$validate();

            if(correctForm) {
                loginPending.value = true;
                try {
                    await store.dispatch('users/signup', {
                        ...state.value,
                        roles: ["ROLE_USER"]
                    });
                    createToast("Compte créé", { type: "success", position: "bottom-right"});
                    await router.push({ name: 'Login' });
                } catch (e: any) {
                    await v$.value.$reset();
                    loginPending.value = false;
                    createToast(e.message, { type: 'danger', position: 'bottom-right' })
                }
                loginPending.value = false;
            }
        }

        const result = computed(() => store.getters["users/auth"]);

        return { state, v$, connexion, result, loginPending, router }
    }
})
</script>

<style>
.wrapper {
    height: calc(100vh - var(--navbar-height));
}
</style>
