<template>
    <div class="w-5/6 m-auto gap-4 flex flex-wrap justify-center">
        <div v-for="dish of dishes" :key="dish.id" class="flex w-1/4">
            <div class="flex flex-col border bg-white py-3 rounded-lg cursor-pointer w-full" @click="dishClicked(dish)">
                <div>
                    {{ dish.name }}
                </div>
                <div class="text-black font-bold text-xl">
                    {{ dish.price }} €
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType, toRefs } from "vue";
import { Dish } from "@/@types";

export default defineComponent({
    props: {
        dishes: {
            type: Array as PropType<Dish[]>,
            default: () => []
        }
    },
    setup(props, { emit }) {
        const { dishes } = toRefs(props);

        const dishClicked = (dish: Dish) => emit('dish-clicked', dish);

        return { dishClicked }
    }
})
</script>
