<template>
    <footer class="footer bg-black relative">
        <div class="container mx-auto px-6">

            <div class="sm:flex sm:mt-8">
                <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                    <div class="flex flex-col">
                        <span class="font-bold text-green-600 uppercase mb-2">Informations</span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Contact</a></span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Politique</a></span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Sécurité</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold text-green-600 uppercase mt-4 md:mt-0 mb-2">Restaurants</span>
                        <span class="my-2"><a href="#" class="text-white text-md hover:text-green-500">Click & collect</a></span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Remboursement</a></span>
                        <span class="my-2"><a href="#" class="text-white text-md hover:text-green-500">Réservation</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold text-green-600 uppercase mt-4 md:mt-0 mb-2">Equipe</span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Notre équipe</a></span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">En savoir plus</a></span>
                        <span class="my-2"><a href="#" class="text-white  text-md hover:text-green-500">Postuler</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto px-6">
            <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-6">
                    <p class="text-sm text-white font-bold mb-2">
                        © {{ new Date().getFullYear() }} - Foodify
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({

})
</script>
