<template>
    <div class="navbar flex fixed flex-row bg-white border-b border-gray-200 w-screen z-20">
        <div class="w-[99vw] flex h-100">
            <div class="flex items-center cursor-pointer px-3" @click="toggleSidebar">
                <span class="material-icons">
                    view_headline
                </span>
            </div>

            <div class="ml-auto flex relative">
                <Menu v-show="isOwner && restaurants.length >= 1" as="div"
                      class="relative inline-block text-left h-full"
                      id="dropdown-restaurants">
                    <MenuButton class="flex items-center px-4 hover:bg-gray-100 h-full">
                        <div v-if="isOwner && restaurants.length === 1"
                             class="ml-auto px-4 h-full flex items-center cursor-pointer hover:bg-gray-100">
                            {{ restaurants[0].name }}
                        </div>
                        <div v-else class="text-center inline-flex items-center">
                            {{ selectedRestaurant.id !== '' ? selectedRestaurant.name : 'Sélectionner un restaurant' }}
                            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </div>
                    </MenuButton>
                    <transition
                        enter-active-class="transition duration-100 ease-out"
                        enter-from-class="transform scale-95 opacity-0"
                        enter-to-class="transform scale-100 opacity-100"
                        leave-active-class="transition duration-75 ease-in"
                        leave-from-class="transform scale-100 opacity-100"
                        leave-to-class="transform scale-95 opacity-0"
                    >
                        <MenuItems
                            class="focus:outline-none absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                            <div class="px-1 py-1">
                                <MenuItem v-for="restaurant of restaurants" :key="restaurant.id"
                                          @click="setCurrentRestaurant(restaurant)" v-slot="{ active }" as="div">
                                    <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                    >
                                        {{ restaurant.name }}
                                    </button>
                                </MenuItem>
                            </div>
                        </MenuItems>
                    </transition>
                </Menu>
            </div>

            <div class="">
                <Menu as="div" class="relative inline-block text-left h-full">
                    <MenuButton class="flex items-center px-4 hover:bg-gray-100 h-full">
                        <span class="material-icons md-36 cursor-pointer">person</span>
                    </MenuButton>
                    <transition
                        enter-active-class="transition duration-100 ease-out"
                        enter-from-class="transform scale-95 opacity-0"
                        enter-to-class="transform scale-100 opacity-100"
                        leave-active-class="transition duration-75 ease-in"
                        leave-from-class="transform scale-100 opacity-100"
                        leave-to-class="transform scale-95 opacity-0"
                    >
                        <MenuItems
                            class="focus:outline-none absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                            <div v-if="isConnected" class="px-1 py-1">
                                <MenuItem v-slot="{ active }" as="div" @click="$router.push({ name: 'Profile' })">
                                    <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                    >
                                        Profil
                                    </button>
                                </MenuItem>
                                <MenuItem as="div" id="logout" @click="logout" v-slot="{ active }">
                                    <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                    >
                                        Se déconnecter
                                    </button>
                                </MenuItem>
                            </div>
                            <div v-else class="px-1 py-1">
                                <MenuItem as="div" v-slot="{ active }" @click="$router.push({ name: 'Login'})">
                                    <button :active="active" :class="[active ? 'bg-gray-200 text-black' : 'text-gray-900',
                                        'group flex w-full items-center rounded-md px-2 py-2 text-sm']"
                                    >
                                        Se connecter
                                    </button>
                                </MenuItem>
                            </div>
                        </MenuItems>
                    </transition>
                </Menu>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
import { computed, defineComponent, ref, watch } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { Restaurant } from "@/@types";
import { toggleSidebar, sidebarState } from "@/components/Navigation/sidebarState";

export default defineComponent({
    name: 'NavBar',
    components: { Menu, MenuButton, MenuItems, MenuItem },
    setup() {
        const store = useStore();
        const router = useRouter();

        const dropdown = ref(false);
        const dropdownBis = ref(false);

        const isConnected = computed(() => store.getters["users/isConnected"]);
        const isOwner = computed(() => store.getters["users/owner"]);
        const restaurants = computed(() => store.getters["restaurants/ownerRestaurants"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const setCurrentRestaurant = (async (restaurant: Restaurant) => {
            await store.dispatch('restaurants/setCurrentRestaurant', restaurant)
        });

        const logout = (async () => {
            await store.dispatch('users/logout');
            await router.push({ name: 'Home' });
        });

        const userNotConnected = [
            {
                value: 'Login',
                name: 'Login'
            }
        ];

        const navigateToHome = () => {
            router.push({ name: 'Home' });
        }

        return {
            dropdown,
            dropdownBis,
            userNotConnected,
            isConnected,
            logout,
            restaurants,
            setCurrentRestaurant,
            selectedRestaurant,
            isOwner,
            toggleSidebar,
            navigateToHome
        }
    }
})
</script>

<style scoped lang="scss">
.navbar {
    height: var(--navbar-height);
}

.dropdown-menu-connection > li:not(:last-child) {
    @apply border-b border-white;
}
</style>
