<template>
    <c-container bg-color="#F2F6F4">
        <div v-if="isOwner">
            <StatisticRestaurants/>
        </div>
        <div v-else class="flex flex-col">
            <div class="flex items-center">
                <div class="border bg-white rounded p-5 h-fit flex-grow flex flex-col gap-4">
                    <p class="text-xl text-black font-bold text-left">Découvrez et réservez le meilleur restaurant</p>
                    <c-input v-model="restaurantName" placeholder="Nom de restaurant, cuisine ..."/>
                    <c-input v-model="restaurantCountry" placeholder="Adresse, pays ..."/>
                    <c-button @click="searchRestaurants()" class="btn-primary">Rechercher</c-button>
                </div>
                <div class="hidden lg:block w-1/2">
                    <img
                        src="https://c.tfstatic.com/w_689,h_538,c_fill,g_auto:subject,q_auto,f_auto/tf-product/homepage-hero/en-US"/>
                </div>
            </div>
            <template v-if="researchClicked">
                <div v-if="filteredRestaurants.length > 0" class="flex flex-col border-t pt-5">
                    <h1 class="text-xl font-bold">Résultat de la recherche</h1>
                    <div class="flex flex-wrap gap-3 justify-center pt-5">
                        <div v-for="restaurant of filteredRestaurants" :key="restaurant.id" class="w-1/4 border">
                            <div>
                                <img :src="generateRandomPhotos()" :alt="restaurant.name"
                                     class="w-full max-h-40 h-auto max-w-full"/>
                            </div>
                            <div class="p-3">
                                <div class="flex justify-between">
                                    <div class="text-left text-lg font-bold">
                                        {{ restaurant.name }}
                                    </div>
                                </div>
                                <div class="text-left text-gray-500">
                                    {{ restaurant?.kitchen_style }}
                                </div>
                                <div class="mt-2">
                                    <c-button @click="redirectToRestaurantPage(restaurant.id)" class="btn-secondary"
                                              :tailwind-class="['text-sm']">Voir la page du restaurant
                                    </c-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="italic text-red-500">
                    Aucun restaurants correspondent à la recherche
                </div>
            </template>
        </div>
    </c-container>
</template>

<script lang="ts">

import { computed, defineComponent, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import MakeReservation from "@/components/Admin/MakeReservation.vue";
import StatisticRestaurants from "@/components/Admin/StatisticRestaurants.vue";
import CContainer from "@/components/Custom/CContainer.vue";
import CInput from "@/components/Custom/CInput.vue";
import CButton from "@/components/Custom/CButton.vue";
import { Restaurant } from "@/@types";
import generateRandomPhotos from "@/composables/generateRandomPhotos";
import router from "@/router";

export default defineComponent({
    name: 'HomeView',
    components: { CButton, CInput, CContainer, StatisticRestaurants, MakeReservation },
    setup() {
        const store = useStore();

        const restaurantName = ref('');
        const restaurantCountry = ref('');
        const filteredRestaurants = ref([]);
        const researchClicked = ref<boolean>(false);

        const isOwner = computed(() => store.getters['users/owner']);
        const waiterRestaurant = computed(() => store.getters["users/connectedUser"].restaurant);
        const restaurants = computed(() => store.getters['restaurants/restaurants']);

        onMounted(async () => {
            if (store.getters["users/owner"]) {
                await store.dispatch('restaurants/getOwnerRestaurants');
            }
            if (store.getters["users/waiter"]) {
                await store.dispatch('restaurants/setCurrentRestaurant', waiterRestaurant)
            }
            await store.dispatch('restaurants/getRestaurants');
        });

        const redirectToRestaurantPage = ((restaurantId: string) => {
            router.push(`/restaurants/${restaurantId}`);
        });

        const searchRestaurants = async () => {
            try {
                researchClicked.value = true;
                filteredRestaurants.value = await store.getters["restaurants/filteredRestaurants"](restaurantName.value, restaurantCountry.value)
            } catch (e) {
                console.error(e);
            }
        }

        const filterRestaurants = computed(() => {
            let filteredRestaurants = restaurants.value.filter((restaurant: Restaurant) => {
                console.log(restaurant.name.toLowerCase().indexOf(restaurantName.value) > -1)
                return restaurant.name.toLowerCase().indexOf(restaurantName.value) > -1 &&
                    restaurant.country.toLowerCase().indexOf(restaurantCountry.value) > -1 ||
                    restaurant.activity.toLowerCase().indexOf(restaurantCountry.value) > -1
            });
            return filteredRestaurants;
        });

        return {
            isOwner,
            restaurants,
            restaurantName,
            restaurantCountry,
            filterRestaurants,
            filteredRestaurants,
            generateRandomPhotos,
            redirectToRestaurantPage,
            searchRestaurants,
            researchClicked
        }
    }
})

</script>
