<template>
    <restaurants-list></restaurants-list>
</template>

<script lang="ts">
import RestaurantsList from "../components/RestaurantsList.vue";
export default {
    components: { RestaurantsList }
}
</script>
