<template>
    <div class="wrapper">
        <div class="flex h-full relative">
            <div class="main-left w-2/3">
                <div class="w-10/12 m-auto h-full w-full flex flex-column justify-center items-center">
                    <div class="main-left-content w-full">
                        <signup />
                    </div>
                </div>
            </div>
            <div class="main-right w-1/3 bg-f-blue-600 h-full relative">
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Signup from "@/components/Connection/Signup.vue";
export default defineComponent({
    components: { Signup }
})
</script>
