<template>
    <c-modal ref="dialog" :title="`Ajout de plats à la catégorie '${product?.name}'`" scroll size="xl" background-color="bg-[#f1f1f1]">
        <template #default>
            <div v-if="!loading">
                <div v-if="categoryDishes.dishes.length === 0" class="text-red-500 italic">
                    Aucun plat ajouté à cette catégorie
                </div>
                <div v-else class="mb-4">
                    <span class="font-bold text-xl">Plats ajoutés à la catégorie</span>
                    <dishes-layout :dishes="categoryDishes.dishes" @dishClicked="removeDishFromMenu" class="pt-2" />
                </div>
                <span class="font-bold text-xl">Tous les plats</span>
                <dishes-layout :dishes="availableDishes" @dishClicked="addDishToMenu" class="pt-2" />
            </div>
            <div v-else>
                <beat-loader :loading="loading" color="var(--primary-color)"/>
            </div>
        </template>
        <template #footer>
            <c-button class="btn-danger mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-secondary cursor-pointer" id="save" @click="addDishes">Sauvegarder</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, toRefs } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import DishesLayout from "@/components/Layout/DishesLayout.vue";
import { Dish } from "@/@types";
import { filterMenuDishes } from "@/composables/filterDishMenu";
import { filterCategoryDishes } from "@/composables/filterDishCategoy";

export default defineComponent({
    name: 'AddDishesToCategoryModal',
    components: { DishesLayout, CModal, CButton, BeatLoader },
    setup() {
        const store = useStore();
        let product = ref();
        const dialog = ref();
        const loading = ref<boolean>(false);
        const { availableDishes } = filterCategoryDishes();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const dishes = computed(() => store.getters["dishes/dishes"]);
        const categoryDishes = computed(() => store.getters["categoryDish/categoryDish"]);

        const show = (async (item: string) => {
            loading.value = true;
            product.value = item;
            dialog.value.show();

            try {
                await store.dispatch('categoryDish/getCategoryDishes', {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: product.value.id
                });
                await store.dispatch('dishes/getDishes', selectedRestaurant.value.id);
                loading.value = false;
            } catch {
                createToast('Erreur lors de la récupération des plats', { position: "bottom-right", type: "danger" });
                loading.value = false;
            }
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const addDishes = (async () => {
            try {
                hide();
            } catch (e) {
                console.error(e)
            }
        });

        const removeDishFromMenu = async (dish: Dish) => {
            try {
                const res = await store.dispatch('categoryDish/deleteCategoryDishes', {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: product.value.id,
                    dishId: dish.id
                });
                createToast(res.message, { type: "success", position: "bottom-right" });
            } catch (e) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        }

        const addDishToMenu = async (dish: Dish) => {
            try {
                const res = await store.dispatch('categoryDish/addCategoryDishes', {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: product.value.id,
                    dishesId: { dishes_id: [dish.id] }
                });
                createToast(res.message, { type: "success", position: "bottom-right" });
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        }

        return {
            addDishes,
            dialog,
            show,
            hide,
            product,
            dishes,
            categoryDishes,
            loading,
            removeDishFromMenu,
            addDishToMenu,
            availableDishes
        }
    }
})
</script>
