<template>
    <div>
        <custom-modal ref="dialog" title="Ajouter un commentaire" size="md" @onSave="submit()">
            <form @submit.prevent>
                <label>Note</label>
                <StarRating v-model:rating="state.note" class="mt-3 mb-5 justify-center" :show-rating="false"></StarRating>
                <label>Description</label>
                <textarea class="mt-5 outline outline-2" v-model="state.description" placeholder="Description" rows="4" cols="50"></textarea>
                <div v-if="v$.description?.$errors[0]?.$message" class="messages text-sm text-left ml-2 italic text-red-600">
                    {{ v$.description?.$errors[0]?.$message }}
                </div>
            </form>
        </custom-modal>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CustomModal from "@/components/Custom/CModal.vue";
import {maxLength, required} from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import CInput from "@/components/Custom/CInput.vue";
import { useStore } from "vuex";
import {commentOriginalState} from "@/originalState/comment";
import StarRating from 'vue-star-rating';
import {useRoute} from "vue-router";

export default defineComponent({
    components: { CustomModal, CInput, StarRating },
    setup() {
        const route = useRoute();
        const store = useStore();
        const state = ref({
            ...commentOriginalState
        });
        const dialog = ref();

        const rules = computed(() => ({
            description: {
                required,
                maxLength: maxLength(255)
            }
        }))

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const show = (() => {
            dialog.value.show();
        })

        const submit = (async () => {

            const correctComment = await v$.value.$validate();

            if (correctComment) {
                try {
                    await store.dispatch("comments/addComment", { restaurantId: route.params.id, comment: state.value });
                    state.value = {
                        ...commentOriginalState
                    }
                    v$.value.$reset();
                    dialog.value.hide();
                } catch (e: any) {
                    console.error(e);
                }
            }
        })

        return { v$, dialog, show, state, submit }
    }
})
</script>
