<template>
    <c-modal ref="dialog" title="Ajouter un utilistateur" size="lg">
        <template #default>
            <c-input v-model="state.firstname" :label="{ inputId: 'user-firstname-input', name: 'prénom' }"
                     id="user-firstname-input" placeholder="Prénom"
                     :invalid-input="v$.firstname.$errors.length > 0" class="mb-5"
                     :messages="v$.firstname?.$errors[0]?.$message" :valid-input="!v$.firstname.$invalid"
            />
            <c-input v-model="state.lastname" :label="{ inputId: 'user-lastname-input', name: 'nom' }"
                     id="user-lastname-input" placeholder="Nom"
                     :invalid-input="v$.lastname.$errors.length > 0" class="mb-5"
                     :messages="v$.lastname?.$errors[0]?.$message" :valid-input="!v$.lastname.$invalid"
            />
            <c-input v-model="state.email" :label="{ inputId: 'user-email-input', name: 'email' }"
                     id="user-email-input" placeholder="Email"
                     :invalid-input="v$.email.$errors.length > 0" class="mb-5"
                     :messages="v$.email?.$errors[0]?.$message" :valid-input="!v$.email.$invalid"
            />
            <Listbox v-model="selectedRole" as="div">
                <div class="text-left italic pl-2">
                    <ListboxLabel>role</ListboxLabel>
                </div>

                <div class="relative mt-1">
                    <ListboxButton
                        class="relative w-full cursor-default rounded-lg bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
                    >
                        <span class="block truncate">{{ selectedRole.roleName }}</span>
                        <span
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                        >
                        <span class="material-icons">unfold_more</span>
                            <!--            <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>-->
                    </span>
                    </ListboxButton>
                    <transition
                        leave-active-class="transition duration-100 ease-in"
                        leave-from-class="opacity-100"
                        leave-to-class="opacity-0"
                    >

                        <ListboxOptions
                            class="absolute mt-1 max-h-60 w-full z-50 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                        >
                            <ListboxOption
                                v-slot="{ active, selected }"
                                v-for="role in userRoles"
                                :key="role.id"
                                :value="role"
                                as="template"
                            >
                                <li :class="[ active ? 'bg-gray-200 text-green-900' : 'text-gray-900',
                                'relative select-none py-2 pl-2 pr-4 flex cursor-pointer']"
                                >
                                    <span class="material-icons text-sm">{{ role.icon }}</span>

                                    <span :class="[selected ? 'font-medium' : 'font-normal','block pl-2',]">
                                    {{ role.roleName }}
                                </span>
                                    <span v-if="selected"
                                          class="absolute inset-y-0 left-0 flex items-center pl-3 text-green-600"
                                    >
                                </span>
                                </li>
                            </ListboxOption>
                        </ListboxOptions>
                    </transition>
                </div>
            </Listbox>
        </template>
        <template #footer>
            <c-button class="btn-danger mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-secondary cursor-pointer" id="save" @click="addUser" :disabled="pending">Sauvegarder</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, toRefs } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from "@headlessui/vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import CInput from "@/components/Custom/CInput.vue";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { email, required } from "@vuelidate/validators";

export default defineComponent({
    name: 'CreateUserModal',
    components: { CInput, CModal, CButton, Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions },
    setup() {
        const store = useStore();
        const dialog = ref();
        const pending = ref<boolean>(false);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const userRoles = [
            {
                id: 'waiter',
                roleName: 'ROLE_SERVEUR',
                icon: 'set_meal'
            },
            {
                id: 'cooker',
                roleName: 'ROLE_CUISINIER',
                icon: 'restaurant_menu'
            },
            {
                id: 'manager',
                roleName: 'ROLE_MANAGER',
                icon: 'supervisor_account'
            }
        ];

        const selectedRole = ref(userRoles[0]);

        const state = ref({
            firstname: '',
            lastname: '',
            email: '',
        });

        const rules = computed(() => ({
            firstname: { required },
            lastname: { required },
            email: { required, email }
        }));

        const employeeChoiceTranslated = computed(() => {
            switch (selectedRole.value.roleName) {
                case 'ROLE_CUISINIER':
                    return ['ROLE_COOKER'];
                case 'ROLE_SERVEUR':
                    return ['ROLE_WAITER'];
                default:
                    return [selectedRole.value.roleName];
            }
        })

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const show = (async () => {
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const addUser = (async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                try {
                    pending.value = true;
                    console.log({ restaurantId: selectedRestaurant.value.id, email: state.value.email })
                    const res = await store.dispatch('users/createEmployee', {
                        restaurantId: selectedRestaurant.value.id,
                        employee: { ...state.value, roles: employeeChoiceTranslated.value }
                    });
                    createToast(res.message,{ type: "success", position: "bottom-right"});
                    v$.value.$reset();
                    pending.value = false;
                } catch (e: any) {
                    pending.value = false;
                    createToast(e.message,{ type: "danger", position: "bottom-right"});
                }
            }
        });


        return {
            dialog,
            show,
            hide,
            addUser,
            userRoles,
            selectedRole,
            state,
            v$,
            pending,
            employeeChoiceTranslated
        }
    }
})
</script>
