<template>
    <c-modal ref="dialog" size="lg" title="Êtes-vous sûr de supprimer cette catégorie ?">
        <template #default>
            La catégorie '{{ category.name }}' va être supprimée
        </template>
        <template #footer>
            <c-button class="btn-primary mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-danger cursor-pointer" id="save" @click="deleteItem">Supprimer</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    name: 'DeleteCategoryModal',
    components: { CModal, CButton },
    setup() {
        const store = useStore();
        let category = ref();
        const dialog = ref();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const show = ((item: string) => {
            category.value = item;
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const deleteItem = (async () => {
            try {
                const res = await store.dispatch("categories/deleteCategory", {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: category.value.id
                });
                createToast(res.message, { type: "success", position: "bottom-right" });
                hide();
            } catch (e) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        });

        return { deleteItem, dialog, show, hide, category }
    }
})
</script>
