<template>
    <c-modal ref="dialog" size="lg">
        <template #default>
            Le restaurant '{{ restaurant.name }}' va être supprimé
        </template>
        <template #footer>
            <c-button class="btn-primary mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-danger cursor-pointer" id="save" @click="deleteRestaurant">Supprimer</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { Restaurant } from "@/@types";

export default defineComponent({
    name: 'DeleteMenuModal',
    components: { CModal, CButton },
    setup() {
        const store = useStore();
        let restaurant = ref();
        const dialog = ref();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const show = ((item: Restaurant) => {
            restaurant.value = item;
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const deleteRestaurant = (async () => {
            try {
                const res = await store.dispatch('restaurants/deleteRestaurant', restaurant.value);
                hide();
                createToast(res.message, { type: "success", position: "bottom-right" });
            } catch (e: any) {
                createToast(e.message, { type: "danger", position: "bottom-right" });
            }
        });

        return { deleteRestaurant, dialog, show, hide, restaurant }
    }
})

</script>
