<template>
    <c-modal ref="dialog" :title="edit ? 'Edition du plat' : 'Ajouter un plat'" size="lg" @onSave="submit()">
        <form @submit.prevent>
            <c-input v-model="state.name" id="dish-input-name" class="mt-3" :invalid-input="v$.name.$errors.length > 0"
                     :messages="v$.name?.$errors[0]?.$message" :valid-input="!v$.name.$invalid" placeholder="Nom" />

            <c-input v-model.number="state.price" id="dish-input-price" class="mt-3" type="number" :invalid-input="v$.price.$errors.length > 0"
                     :messages="v$.price?.$errors[0]?.$message" :valid-input="!v$.price.$invalid" placeholder="Prix" suffix="euro"
                     :label="{ inputId: 'dish-input-price', name: 'Prix'}"
            />

            <div class="flex items-center pt-3">
                <SwitchGroup>
                    <SwitchLabel passive class="pr-2">
                        Disponible
                    </SwitchLabel>
                    <Switch v-model="state.is_available"
                            :class='state.is_available ? "bg-green-600" : "bg-gray-200"'
                            class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                    >
                    <span
                        :class='state.is_available ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                    </Switch>
                </SwitchGroup>
            </div>
        </form>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, ref, toRefs } from "vue";
import { useVuelidate, ValidationRule } from '@vuelidate/core';
import { required, minLength } from '@vuelidate/validators';
import { dishOriginalState } from "@/originalState";
import CInput from "@/components/Custom/CInput.vue";
import CModal from "@/components/Custom/CModal.vue";
import { useStore } from "vuex";
import { SwitchGroup, Switch, SwitchLabel } from "@headlessui/vue";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    name: 'ManageRestaurant',
    components: { CInput, CModal, SwitchGroup, Switch, SwitchLabel },
    setup() {
        const store = useStore();
        const edit = ref(false);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        let state = ref({
            ...dishOriginalState
        });

        const rules = computed(() => ({
            name: {
                required,
            },
            price: { required },
            is_available: { required }
        }));

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const dialog = ref();

        const show = ((dish: any) => {
            if(dish) {
                edit.value = true;
                state.value = dish;
            } else {
                state.value = {
                    ...dishOriginalState
                };
            }
            dialog.value.show();
        })

        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                if(edit.value) {
                    const res = await store.dispatch('dishes/updateDish', { selectedRestaurant: selectedRestaurant.value, dish: state.value });
                    createToast(res.message, { type: "success", position: "bottom-right" });
                    edit.value = false;
                    dialog.value.hide();
                } else {
                    const res = await store.dispatch('dishes/addDish', { selectedRestaurant: selectedRestaurant.value, dish: state.value });
                    console.log(res)
                    createToast(res.message, { type: "success", position: "bottom-right" });
                    state.value = {
                        ...dishOriginalState
                    };
                    v$.value.$reset();
                }
            }
        })

        return { state, v$, submit, dialog, show, edit }
    }
})
</script>
