<template>
    <c-modal ref="dialog" :title="edit ? 'Edition du restaurant' : 'Ajout d\'un restaurant'" scroll size="lg" @onSave="submit()">
        <form @submit.prevent enctype="multipart/form-data">
            <c-input v-model="state.name" class="mt-3"
                     :invalid-input="v$.name.$errors.length > 0" id="restaurant-name-input"
                     :label="{ inputId: 'restaurant-name-input', name: 'Nom du restaurant' }"
                     :messages="v$.name?.$errors[0]?.$message" :valid-input="!v$.name.$invalid"
                     placeholder="Nom" />

            <c-input v-model="state.address" id="restaurant-address-input" class="mt-3"
                     :invalid-input="v$.address.$errors.length > 0"
                     :label="{ inputId: 'restaurant-address-input', name: 'Adresse' }"
                     :messages="v$.address?.$errors[0]?.$message" :valid-input="!v$.address.$invalid"
                     placeholder="Adresse" />

            <c-input v-model="state.city" id="restaurant-city-input" class="mt-3"
                     :invalid-input="v$.city.$errors.length > 0"
                     :label="{ inputId: 'restaurant-city-input', name: 'Ville' }"
                     :messages="v$.city?.$errors[0]?.$message" :valid-input="!v$.city.$invalid"
                     placeholder="Région" />

            <c-input v-model="state.cp" id="restaurant-cp-input" class="mt-3" :invalid-input="v$.cp.$errors.length > 0"
                     :label="{ inputId: 'restaurant-cp-input', name: 'Code postal' }"
                     :messages="v$.cp?.$errors[0]?.$message" :valid-input="!v$.cp.$invalid" placeholder="Code postal" />

            <c-input v-model="state.country" id="restaurant-country-input" class="mt-3"
                     :invalid-input="v$.country.$errors.length > 0"
                     :label="{ inputId: 'restaurant-country-input', name: 'Pays' }"
                     :messages="v$.country?.$errors[0]?.$message" :valid-input="!v$.country.$invalid"
                     placeholder="Pays" />

            <c-input v-model="state.activity" id="restaurant-activity-input" class="mt-3"
                     :invalid-input="v$.activity.$errors.length > 0"
                     :label="{ inputId: 'restaurant-activity-input', name: 'Activité' }"
                     :messages="v$.activity?.$errors[0]?.$message" :valid-input="!v$.activity.$invalid"
                     placeholder="Activité" />

            <c-input v-model="state.kitchen_style" id="restaurant-kitchen-style-input" class="mt-3"
                     :invalid-input="v$.kitchen_style.$errors.length > 0"
                     :label="{ inputId: 'restaurant-kitchen-style-input', name: 'Style de cuisine' }"
                     :messages="v$.kitchen_style?.$errors[0]?.$message" :valid-input="!v$.kitchen_style.$invalid"
                     placeholder="Style de cuisine" />

            <c-input v-model="state.n_siren" id="restaurant-siren-input" class="mt-3"
                     :invalid-input="v$.n_siren.$errors.length > 0"
                     :label="{ inputId: 'restaurant-siren-input', name: 'Numéro siren' }"
                     :messages="v$.n_siren?.$errors[0]?.$message" :valid-input="!v$.n_siren.$invalid"
                     placeholder="N siren" />

<!--            <input ref="file" v-on:change="handleFileUpload()"  type="file">-->

<!--            <file-pond-->
<!--                name="fileUpload"-->
<!--                ref="file"-->
<!--                label-idle="Drop files here or <span class='filepond&#45;&#45;label-action'>Browse</span>"-->
<!--                :allow-multiple="false"-->
<!--                accepted-file-types="image/jpeg, image/png"-->
<!--            />-->

            <div class="flex justify-around py-3">
                <div class="flex items-center">
                    <SwitchGroup>
                        <SwitchLabel passive class="pr-2">
                            Sur place
                        </SwitchLabel>
                        <Switch v-model="state.on_place"
                                :class='state.on_place ? "bg-green-600" : "bg-gray-200"'
                                class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                        >
                    <span
                        :class='state.on_place ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                        </Switch>
                    </SwitchGroup>
                </div>

                <div class="flex items-center">
                    <SwitchGroup>
                        <SwitchLabel passive class="pr-2">
                            Livraison
                        </SwitchLabel>
                        <Switch v-model="state.take_away"
                                :class='state.take_away ? "bg-green-600" : "bg-gray-200"'
                                class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors focus:outline-none"
                        >
                    <span
                        :class='state.take_away ? "translate-x-6" : "translate-x-1"'
                        class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"
                    />
                        </Switch>
                    </SwitchGroup>
                </div>
            </div>

            <c-input v-model="state.instagram_url" id="restaurant-instagram-input" class="mt-3"
                     :label="{ inputId: 'restaurant-instagram-input', name: 'Instagram' }"
                     placeholder="Instagram url" />

            <c-input v-model="state.twitter_url" id="restaurant-twitter-input" class="mt-3"
                     :label="{ inputId: 'restaurant-twitter-input', name: 'Twitter' }"
                     placeholder="Twitter url" />

            <c-input v-model="state.facebook_url" id="restaurant-facebook-input" class="mt-3"
                     :label="{ inputId: 'restaurant-facebook-input', name: 'Facebook' }"
                     placeholder="Facebook url" />
<!--            {{ state.restaurantTimes }}-->
            <RestaurantTimes :restaurant-times="state.restaurantTimes" />
        </form>
        <template #footer>
            <c-button class="btn-danger mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-secondary cursor-pointer" :disabled="loading" id="save" @click="submit">Sauvegarder</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import { useVuelidate, ValidationRule } from '@vuelidate/core';
import { required, minLength } from '@vuelidate/validators';
import { restaurantOriginalState } from "@/originalState";
import CInput from "@/components/Custom/CInput.vue";
import CModal from "@/components/Custom/CModal.vue";
import { useStore } from "vuex";
import { Switch, SwitchGroup, SwitchLabel } from "@headlessui/vue";
import CButton from "@/components/Custom/CButton.vue";
import RestaurantTimes from "@/components/Admin/RestaurantTimes.vue";
import vueFilePond from "vue-filepond";

// Import FilePond styles
import "filepond/dist/filepond.min.css";

// Import FilePond plugins
// Please note that you need to install these plugins separately
// Import image preview plugin styles
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

// Import image preview and file type validation plugins
// @ts-ignore
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
// @ts-ignore
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import { createToast } from "mosha-vue-toastify";

const FilePond = vueFilePond(
    FilePondPluginFileValidateType,
    FilePondPluginImagePreview
);

export default defineComponent({
    name: 'ManageRestaurant',
    components: { RestaurantTimes, Switch, SwitchLabel, SwitchGroup, CInput, CModal, CButton, FilePond },
    setup() {
        const store = useStore();
        const file = ref();
        const edit = ref(false);
        const loading = ref<boolean>(false);

        let state = ref({
            ...restaurantOriginalState
        });

        const requiredNameLength = ref(8);

        // const restaurantTimes = computed(() => store.getters['restaurantTimes/restaurantTimes']);

        const rules = computed(() => ({
            name: {
                required,
            },
            address: { required },
            city: { required },
            cp: { required },
            country: { required },
            activity: { required },
            n_siren: { required },
            kitchen_style: { required },
            take_away: { required },
            on_place: { required }
        }));

        const handleFileUpload = (() => {
            console.log(file.value.files[0])
        })
        const v$ = useVuelidate<ValidationRule>(rules, state);

        const dialog = ref();

        const show = ((restaurant: any) => {
            if (restaurant) {
                edit.value = true;
                state.value = restaurant;
            } else {
                state.value = {
                    ...restaurantOriginalState
                };
            }
            dialog.value.show();
        });

        const hide = () => {
            dialog.value.hide();
        }

        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                if (edit.value) {
                    try {
                        loading.value = true;
                        const res = await store.dispatch('restaurants/updateRestaurant', state.value);
                        createToast(res.message, { type: "success", position: "bottom-right" });
                        edit.value = false;
                        v$.value.$reset();
                        dialog.value.hide();
                    } catch (e: any) {
                        createToast(e.message, { position: "bottom-right", type: "danger"});
                        loading.value = false;
                    }
                } else {
                    try {
                        loading.value = true;
                        const res = await store.dispatch('restaurants/addRestaurant', state.value);
                        createToast(res.message, { type: "success", position: "bottom-right" });
                        state.value = {
                            ...restaurantOriginalState
                        };
                        v$.value.$reset();
                        dialog.value.hide();
                        loading.value = false;
                    } catch (e: any) {
                        createToast(e.message, { position: "bottom-right", type: "danger"});
                        loading.value = false;
                    }
                }

                loading.value = false;
            }
            loading.value = false;
        })

        return { state, v$, submit, dialog, show, edit, loading, hide, file, handleFileUpload }
    }
})
</script>
