<template>
    <c-modal ref="dialog" title="Réserver une table" size="lg">
        <template #default>
            <div class="text-left">
                <p class="font-bold">{{ restaurant.name }}</p>
                <p class="">{{ formatDate(reservationDate) }}</p>
                <p class="">Table pour {{ numberOfPeople }}</p>
            </div>
            <c-input v-model="state.firstname" class="mt-3" id="reservation-firstname-input"
                     :invalid-input="v$.firstname.$errors.length > 0"
                     :messages="v$.firstname?.$errors[0]?.$message" :valid-input="!v$.firstname.$invalid"
                     :label="{ inputId: 'reservation-firstname-input', name: 'Prénom' }"
                     placeholder="Prénom"/>

            <c-input v-model="state.lastname" class="mt-3" id="reservation-lastname-input"
                     :invalid-input="v$.lastname.$errors.length > 0" :label="{ inputId: 'reservation-firstname-input', name: 'Nom' }"
                     :messages="v$.lastname?.$errors[0]?.$message" :valid-input="!v$.lastname.$invalid" placeholder="Nom"/>

            <c-input v-model="state.email" class="mt-3" id="reservation-email-input"
                     :invalid-input="v$.email.$errors.length > 0" :label="{ inputId: 'reservation-firstname-input', name: 'Email' }"
                     :messages="v$.email?.$errors[0]?.$message" :valid-input="!v$.email.$invalid" placeholder="Adresse"/>
        </template>
        <template #footer>
            <c-button class="btn-danger mr-3 cursor-pointer" id="cancel" @click="hide">Annuler</c-button>
            <c-button class="btn-secondary cursor-pointer" id="save" :disabled="loading" @click="completeReservation">Réserver</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, toRefs } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import CInput from "@/components/Custom/CInput.vue";
import { Restaurant } from "@/@types";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { email, required } from "@vuelidate/validators";

export default defineComponent({
    name: 'ReservationModal',
    components: { CInput, CModal, CButton, BeatLoader },
    props: {
        restaurant: {
            type: Object as PropType<Partial<Restaurant>>,
            default: () => {}
        },
        reservationDate: {
            type: String as PropType<string>
        },
        numberOfPeople: {
            type: Number as PropType<number>
        }
    },
    setup(props) {
        const { reservationDate } = toRefs(props);
        const { numberOfPeople } = toRefs(props);
        const { restaurant } = toRefs(props);

        const store = useStore();
        const dialog = ref();
        const loading = ref<boolean>(false);

        const state = ref({
            firstname: '',
            lastname: '',
            email: '',
            phoneNumber: ''
        });

        const rules = computed(() => ({
            firstname: { required },
            lastname: { required },
            email: { required, email }
        }));

        const formatDate = ((date: string) => {
            return new Date(date).toLocaleString('fr', { day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric'});
        });

        const completeReservation = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                try {
                    loading.value = true;
                    const reservation = {
                        name: `${state.value.firstname} ${state.value.lastname}`,
                        is_validated: false,
                        status: 'Pending',
                        reservation_date: reservationDate.value,
                        nb_people: numberOfPeople.value
                    }

                    const res = await store.dispatch('reservations/addReservation', {
                        restaurantId: restaurant.value.id,
                        reservation
                    });
                    createToast(res.message, { type: "success", position: "bottom-right" });
                    v$.value.$reset();
                    loading.value = false;
                    hide();
                } catch (e: any) {
                    createToast('Erreur lors de la réservation', { position: "bottom-right", type: "danger" });
                    loading.value = false;
                }
            }
        });

        const show = (() => {
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const v$ = useVuelidate<ValidationRule>(rules, state);

        return {
            show,
            hide,
            completeReservation,
            dialog,
            v$,
            state,
            formatDate,
            loading
        }
    }
})
</script>
