<template>
    <div>
        <div v-if="users === null">Loader</div>
        <div v-else-if="users.length === 0">No data</div>
        <div v-else>
            <h3 class="mt-3 font-bold text-2xl text-left">Choisissez un plat</h3>
            <div class="grid grid-cols-4 gap-8">
                <button @click="addToCurrentOrder(dish)" v-for="dish in getDishesByCategory(dishCategoryName)" :key="dish.id" class="card">
                    <img class="mx-auto" :src="require(`@/assets/images/certified-veggie-bacon-lover.jpeg`)" />
                    <p class="my-2 font-bold">{{ dish.name }}</p>
                    <p class="my-2">{{ convertNumberToPrice(dish.price) }}</p>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import { defineComponent, onMounted, computed, toRefs } from 'vue';
import { useStore } from 'vuex';
import { User } from "../@types";
import { getDishesByCategory } from '../services/dishes.services';
import { addToCurrentOrder } from '../services/orders.services';
import { convertNumberToPrice } from '../common/helpers';

export default defineComponent({
    props: {
      dishCategoryName: {
        default: '',
        type: String,
      },
    },
    setup(props) {
      const store = useStore();
      const { dishCategoryName } = toRefs(props);
      const users = computed<User[]>(() => store.getters['users/users']);
      const categoryName = computed<string>( () => dishCategoryName.value);

      onMounted( async () => {
          await store.dispatch('users/updateUsers');
      })

      return { users, categoryName, getDishesByCategory, addToCurrentOrder, convertNumberToPrice };
    },
})
</script>
