<template>
    <c-container v-if="user" class="grid gap-y-5">
        <h2 class="text-2xl bold">Vos informations personelles</h2>
        <c-input v-model="user.firstname" placeholder="Prénom" id="input-firstname"
                 :label="{name: 'Prénom', inputId: 'input-firstname'}" round />

        <c-input v-model="user.lastname" placeholder="Nom" id="input-lastname"
                 :label="{name: 'Nom', inputId: 'input-lastname'}" round />

        <c-input v-model="user.email" placeholder="Email" disabled id="input-email"
                 :label="{name: 'Email', inputId: 'input-email'}" round />

        <c-input v-model="userBirthday" placeholder="Age" type="date" id="input-birthday"
                 :label="{name: 'Date de naissance', inputId: 'input-birthday'}" round />

        <c-input v-model="user.phone" placeholder="Téléphone" id="input-phone"
                 :label="{name: 'Téléphone', inputId: 'input-phone'}" round />

        <c-input v-model="user.facebook_url" placeholder="Facebook" id="input-facebook-url"
                 :label="{name: 'Facebook', inputId: 'input-facebook-url'}" round />

        <c-input v-model="user.twitter_url" placeholder="Twitter" id="input-twitter-url"
                 :label="{name: 'Twitter', inputId: 'input-twitter-url'}" round />

        <c-input v-model="user.instagram_url" placeholder="Instagram" id="input-instagram-url"
                 :label="{name: 'Instagram', inputId: 'input-instagram-url'}" round />

        <c-button class="btn-primary" @click="submit" :disabled="pending">Sauvegarder</c-button>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount, ref } from "vue";
import CInput from "./Custom/CInput.vue";
import { useStore } from "vuex";
import { required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import CContainer from "./Custom/CContainer.vue";
import CButton from "./Custom/CButton.vue";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    components: { CButton, CContainer, CInput },
    setup() {
        const store = useStore();
        const birthday = ref('');
        const pending = ref<boolean>(false);

        onBeforeMount(async () => {
            await store.dispatch('users/userInformation');
        });

        const user = computed(() => store.getters['users/connectedUser']);
        const userBirthday = computed(() => {
            if (user.value.birthday) {
                return user.value.birthday.substring(0, 10);
            }
            return "";
        });

        let state = ref({
            user
        });

        const rules = computed(() => ({
            email: { required },
            // firstname: '',
            // lastname: '',
            // birthday: '',
            // phone: '',
            // picture: '',
            // is_shown: null,
            // facebook_url: '',
            // instagram_url: '',
            // twitter_url: ''
        }));

        const v$ = useVuelidate<ValidationRule>(rules, state);


        const submit = (async () => {
            try {
                pending.value = true;
                await store.dispatch('users/updateUser', {
                    lastname: user.value.lastname,
                    firstname: user.value.firstname,
                    twitter_url: user.value.twitter_url,
                    phone: user.value.phone,
                    facebook_url: user.value.facebook_url,
                    instagram_url: user.value.instagram_url,
                    birthday: userBirthday.value
                });
                pending.value = false;
                createToast('Informations mise à jour avec succès', { type: 'success', position: 'bottom-right' });
            } catch (e: any) {
                pending.value = false;
                createToast(e.message, { type: 'danger', position: 'bottom-right' });
            }
        })

        return { state, v$, submit, user, userBirthday, pending }
    }
})
</script>
