<template>
    <section class="bg-[#F3F4F6] h-full relative">
        <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)" class="absolute top-[50%] bottom-[50%] w-full"></beat-loader>
        <c-container v-if="!loading">
            <h1 class="text-2xl mb-10 lg:mb-[60px]">Liste des restaurants</h1>
            <div id="resto-list">
                <router-link v-for="resto in restaurants" :to="{ name: 'Restaurant', params: { id: resto.id }}">
                    <div class="resto flex md:flex-row flex-col  mb-5 border">
                        <img class="resto-img" :src="generateRandomPhotos()">
                        <div class="resto-infos bg-white w-full">
                            <div class="ml-8 mt-4">
                                <div class="w-full text-left">
                                    <h2 class="text-lg font-semibold mb-1">{{ resto.name }}</h2>
                                    <p>
                                        <span :class="(restaurantOpen(resto.restaurantTimes) ? 'text-green-500 font-bold' : 'text-red-500 font-bold')">{{ restaurantOpen(resto.restaurantTimes) ? 'Ouvert' : 'Fermé'}}</span>
                                    </p>
                                    <p>
                                        <span class="pr-2">{{ resto.kitchen_style }}</span>
                                        <span class="XNMDG"><span class="px-2">€</span></span>
                                        <span class="XNMDG" v-if="resto.on_place"><span class="px-2">Sur Place</span></span>
                                        <span class="XNMDG" v-if="resto.on_place"><span class="px-2">A Emporter</span></span>
                                    </p>
                                    <p>
                                        <span class="pr-2">{{ resto.address }}</span>
                                        <span class="XNMDG"><span class="px-2">{{ resto.city }}</span></span>
                                        <span class="XNMDG"><span class="px-2">{{ resto.cp }}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </c-container>
    </section>
</template>


<script lang="ts">
import {computed, defineComponent, onBeforeMount, onMounted, ref} from "vue";
import { useStore } from "vuex";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import CContainer from "@/components/Custom/CContainer.vue";
import { isRestaurantOpen } from "@/composables/isRestaurantOpen";
import { RestaurantTimes } from "@/@types";
import generateRandomPhotos from "@/composables/generateRandomPhotos";

export default defineComponent({
    name: 'Restaurants',
    components: {
        BeatLoader,
        CContainer
    },
    setup() {
        const store = useStore();
        const loading = ref<boolean>();
        const restoComments = ref([]);
        const restaurants = computed(() => store.getters["restaurants/restaurants"]);

        onBeforeMount(async () => {
            await store.dispatch('restaurants/getRestaurants');

            loading.value = false;
        });

        const restaurantOpen = (restaurantTimes: RestaurantTimes) => {
            return isRestaurantOpen(restaurantTimes, '');
        };

        return { restaurants, loading, restaurantOpen, generateRandomPhotos }
    }
})
</script>

<style>
.XNMDG:before {
    content: "\00b7";
    width: 4px;
    color: var(--secondaryText);
}
</style>
