<template>
    <CommentModal ref="commentModal"></CommentModal>
    <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)" class="mt-40"></beat-loader>
    <c-container v-if="restaurant.id === $route.params.id && !loading">
        <div class="flex flex-wrap md:flex-row flex-col md:w-full lg:w-11/12">
            <div class="w-full md:w-1/2 lg:w-1/3">
                <div class="bg-white rounded-lg overflow-hidden mb-10">
                    <img v-if="!restaurant.img"
                         :src="generateRandomPhotos(400,200)"
                         alt="image"
                         class="w-full"
                    />
                    <img v-if="restaurant.img"
                         :src="restaurant.img"
                         alt="image"
                         class="w-full"
                    />
                </div>
            </div>
            <div class="w-full xl:w-2/5 md:w-[calc(50%_-_1.25rem)] text-left ml-0 md:ml-5">
                <h1 class="text-3xl">{{ restaurant.name }}</h1>
                <p>Type : {{ restaurant.kitchen_style }}</p>
                <p><span v-if="restaurant.on_place">sur place</span><span
                    v-if="restaurant.on_place"> - à emporter</span></p>
                <p>{{ restaurant.address }}, {{ restaurant.cp }} {{ restaurant.city }}</p>
                <a v-if="restaurant.facebook_url" :href="restaurant.facebook_url">
                    <img class="inline-block mr-2" src="../assets/images/social-media/facebook_logo.png">
                </a>
                <a v-if="restaurant.twitter_url" :href="restaurant.twitter_url">
                    <img class="inline-block mr-2" src="../assets/images/social-media/twitter_logo.png">
                </a>
                <a v-if="restaurant.instagram_url" :href="restaurant.instagram_url">
                    <img class="inline-block mr-2" src="../assets/images/social-media/instagram_logo.png">
                </a>
            </div>
        </div>

        <div class="relative right-3">
            <MakeReservation :restaurant="restaurant" class="margin-left-0"/>
        </div>

        <div class="w-full px-2 py-16 sm:px-0">
            <h2 class="text-left font-bold text-2xl mb-5">Menus</h2>
            <p v-if="menuDishesList && menuDishesList.length === 0" class="font-semibold">Aucun menu n'a été ajouté</p>
            <TabGroup v-else>
                <TabList class="flex space-x-1 rounded-xl bg-green-600 p-1">
                    <Tab
                        v-for="menu in menuDishesList"
                        as="template"
                        :key="menu"
                        v-slot="{ selected }"
                    >
                        <button
                            :class="[
                              'w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-black-700',
                              'ring-white ring-opacity-60 ring-offset-2 ring-offset-green-600 focus:outline-none focus:ring-2',
                              selected
                                ? 'bg-white shadow'
                                : 'text-black-100 hover:bg-white/[0.12] hover:text-white',
                            ]"
                        >
                            {{ menu.menu.name }}
                        </button>
                    </Tab>
                </TabList>

                <TabPanels class="mt-2">
                    <TabPanel
                        v-for="menuDishes in menuDishesList"
                        :key="menuDishes.id"
                        :class="[
                        'rounded-xl bg-white p-3',
                        'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
                      ]"
                    >
                        <div class="flex flex-wrap grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
                            <div v-for="dish of menuDishes.dishes" :key="dish.id" class="shadow-lg rounded relative">
                                <div>
                                    <img v-if="!dish.img" :src="generateRandomPhotos()" :alt="dish.name"
                                         class="w-full max-h-52 h-auto max-w-full"/>
                                    <img v-if="dish.img" :src="dish.img" :alt="dish.name"
                                         class="w-full max-h-52 h-auto max-w-full"/>
                                </div>
                                <div class="p-3">
                                    <div class="flex justify-between">
                                        <div class="text-left text-lg font-bold">
                                            {{ dish.name }}
                                        </div>
                                    </div>
                                    <div class="text-left text-gray-500">
                                        {{ dish.price }} €
                                    </div>
                                </div>
                            </div>
                        </div>
                    </TabPanel>
                </TabPanels>
            </TabGroup>
        </div>

        <div class="w-full px-2 py-16 sm:px-0">
            <h2 class="text-left font-bold text-2xl mb-5">Catégories de plats</h2>
            <p v-if="categoryDishesList && categoryDishesList.length === 0" class="font-semi-bold">Pas de plats</p>
            <TabGroup v-else>
                <TabList class="flex space-x-1 rounded-xl bg-green-600 p-1">
                    <Tab
                        v-for="category in categoryDishesList"
                        as="template"
                        :key="category"
                        v-slot="{ selected }"
                    >
                        <button
                            :class="[
                              'w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-black-700',
                              'ring-white ring-opacity-60 ring-offset-2 ring-offset-green-400 focus:outline-none focus:ring-2',
                              selected
                                ? 'bg-white shadow'
                                : 'text-green-100 hover:bg-white/[0.12] hover:text-white',
                            ]"
                        >
                            {{ category.category.name }}
                        </button>
                    </Tab>
                </TabList>

                <TabPanels class="mt-2">
                    <TabPanel
                        v-for="categoryDishes in categoryDishesList"
                        :key="categoryDishes.id"
                        :class="[
                        'rounded-xl bg-white p-3',
                        'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
                      ]"
                    >
                        <div class="flex flex-wrap grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
                            <div v-for="dish of categoryDishes.dishes" :key="dish.id"
                                 class="shadow-lg rounded relative">
                                <div>
                                    <img v-if="!dish.img" :src="generateRandomPhotos()" :alt="dish.name"
                                         class="w-full max-h-52 h-auto max-w-full"/>
                                    <img v-if="dish.img" :src="dish.img" :alt="dish.name"
                                         class="w-full max-h-52 h-auto max-w-full"/>
                                </div>
                                <div class="p-3">
                                    <div class="flex justify-between">
                                        <div class="text-left text-lg italic">
                                            {{ dish.name }}
                                        </div>
                                    </div>
                                    <div class="text-left text-lg italic text-red-400">
                                        {{ dish.price }} €
                                    </div>
                                </div>
                            </div>
                        </div>
                    </TabPanel>
                </TabPanels>
            </TabGroup>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount, onMounted, ref, watch } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import {Category, CategoryDish, Dish, Restaurant, Table, User} from "@/@types";
import CButton from "@/components/Custom/CButton.vue";
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from '@headlessui/vue';
import CContainer from "@/components/Custom/CContainer.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import MakeReservation from "@/components/Admin/MakeReservation.vue";
import TableModal from "@/components/modal/TableModal.vue";
import CommentModal from "@/components/modal/CommentModal.vue";
import generateRandomPhotos from "@/composables/generateRandomPhotos";

export default defineComponent({
    name: 'SingleRestaurant',
    components: {CommentModal, CContainer, CButton, TabGroup, TabList, Tab, TabPanels, TabPanel, BeatLoader, MakeReservation, TableModal },
    setup() {
        const route = useRoute();
        const store = useStore();
        const loading = ref<boolean>();
        const categoryDishesList = ref<CategoryDish[]>([]);
        const menuDishesList: any = ref([]);
        const commentModal = ref();

        const restaurant = computed<Restaurant>(() => store.getters["restaurants/restaurant"]);
        const isConnected = computed<boolean>(() => store.getters["users/isConnected"]);
        const categories = computed<Category[]>(() => store.getters["categories/categories"]);
        const menus = computed(() => store.getters["menus/menus"]);
        const comments = computed(() => store.getters["comments/comments"]);

        onBeforeMount(async () => {
            try {
                loading.value = true;
                await store.dispatch("restaurants/getRestaurant", route.params.id);
                await store.dispatch("categories/getCategories", route.params.id);
                await store.dispatch("menus/getMenus", route.params.id);

                categoryDishesList.value = [];
                for (const category of categories.value) {
                    if (category.id !== '' && restaurant.value.id !== '') {
                        await store.dispatch("categoryDish/getCategoryDishes", {
                            categoryId: category.id,
                            restaurantId: restaurant.value.id
                        });
                        categoryDishesList.value?.push(store.getters["categoryDish/categoryDish"]);
                    }
                }
                menuDishesList.value = [];
                for (const menu of menus.value) {
                    if (menu.id !== '' && restaurant.value.id !== '') {
                        await store.dispatch("menuDish/getMenuDishes", {
                            menuId: menu.id,
                            restaurantId: restaurant.value.id
                        });
                        menuDishesList.value?.push(store.getters["menuDish/menuDish"]);
                    }

                }
                loading.value = false;
            } catch (e) {
                loading.value = false;
                console.error(e);
            }
        });

        const show = (() => commentModal.value.show());

        return { restaurant, isConnected, categoryDishesList, menuDishesList, loading, comments, show, commentModal, generateRandomPhotos }
    }
});
</script>
