<template>
    <c-container v-if="user" class="grid gap-y-5">
        <h2 class="text-2xl bold">Changer votre mot de passe</h2>
        <c-input v-model="state.password" :invalid-input="v$.password.$errors.length > 0"
                 :messages="v$.password?.$errors[0]?.$message" :valid-input="!v$.password.$invalid" type="password"
                 placeholder="Mot de passe" round messages="Le mot de passe doit contenir au moins 8 charactères"/>

        <c-input v-model="state.confirmPassword" :invalid-input="v$.confirmPassword.$errors.length > 0"
                 :messages="v$.confirmPassword?.$errors[0]?.$message" :valid-input="!v$.confirmPassword.$invalid" type="password"
                 placeholder="Retaper votre mot de passe" round />

        <c-input v-model="state.newPassword" :invalid-input="v$.newPassword.$errors.length > 0"
                 :messages="v$.newPassword?.$errors[0]?.$message" :valid-input="!v$.newPassword.$invalid" type="password"
                 placeholder="Nouveau mot de passe" round />
        <c-button class="btn-primary" @click="submit" :disabled="pending">Sauvegarder</c-button>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount, ref } from "vue";
import CInput from "./Custom/CInput.vue";
import CContainer from "./Custom/CContainer.vue";
import CButton from "./Custom/CButton.vue";
import { useStore } from "vuex";
import { minLength, required, sameAs } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    components: { CInput, CContainer, CButton },
    setup() {
        const store = useStore();

        onBeforeMount(async () => {
            await store.dispatch('users/userInformation');
        });

        const user = computed(() => store.getters['users/connectedUser']);

        const pending = ref<boolean>(false);

        let state = ref({
            password: '',
            confirmPassword: '',
            newPassword: ''
        });

        const rules = computed(() => ({
            password: {
                required,
                minLength: minLength(8)
            },
            confirmPassword: {
                required,
                sameAsPassword: sameAs(state.value.password),
                minLength: minLength(8)
            },
            newPassword: { required }
        }));

        const v$ = useVuelidate<ValidationRule>(rules, state);


        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                // TODO pass password
                try {
                    pending.value = true;
                    await store.dispatch('users/resetPassword');
                    createToast('Mot de passe réinitialisé avec succès', {
                        type: 'success', position: 'bottom-right'
                    });
                } catch (e) {
                    pending.value = false;
                    createToast('Echec lors de la réinitialisation du mot de passe', {
                        type: 'danger', position: 'bottom-right'
                    });
                }
                pending.value = false;
            }
        })

        return { state, v$, submit, user, pending }
    }
})
</script>
