<template>
    <div>
        <div
            class="tabs text-sm bg-white z-10 font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px">
                <li v-for="item of tabsConfig" :key="item.title" :class="'mr-2 cursor-pointer'" aria-current="page"
                    @click="setActive(item.title)">
                    <span
                        :class="'inline-block p-4 rounded-t-lg border-b-2 border-transparent dark:hover:text-gray-300 ' + (selectedTab.title === item.title ? 'border-green-600 text-green-600 ' : ' hover:border-gray-300 hover:text-gray-600')">
                            {{ item.title }}
                    </span>
                </li>
            </ul>
        </div>

        <component :is="selectedTab.component"></component>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import Dish from "@/components/Admin/Dish.vue";
import Menu from "@/components/Admin/Menu.vue";
import Category from "@/components/Admin/Category.vue";

export default defineComponent({
    components: { Dish, Menu, Category },
    setup() {
        const selectedTab: any = ref({ title: 'Plats', component: 'Dish' });

        const tabsConfig: { title: string, component: string }[] = [
            {
                title: 'Plats',
                component: 'Dish'
            },
            {
                title: 'Menus',
                component: 'Menu'
            },
            {
                title: 'Catégories',
                component: 'Category'
            }
        ];

        const setActive = ((title: string) => {
            selectedTab.value = tabsConfig.find(tab => tab.title === title);
        });

        return {
            selectedTab,
            tabsConfig,
            setActive
        }
    }
})
</script>

<style lang="scss">
.tabs {
    position: sticky;
    top: var(--navbar-height);
}
</style>
