<template>
    <div>
        <table-list>

        </table-list>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TableList from "@/components/Admin/Table.vue";

export default defineComponent({
    components: { TableList },
})
</script>
