<template>
    <c-container>
        <UserCreation></UserCreation>
    </c-container>
</template>

<script lang="ts">
import UserCreation from "@/components/Admin/UserCreation.vue";
import CContainer from "@/components/Custom/CContainer.vue";
export default {
    components: { CContainer, UserCreation }
}
</script>
