<template>
    <div class="px-3">
        <div style="margin-top:52px">
            <div class="pt-3 flex">
                <c-button class="btn-primary mx-1" @click="setOrderType('On site')">Sur place</c-button>
                <c-button class="btn-primary mx-1" @click="setOrderType('Take away')">À emporter</c-button>
            </div>

            <div class="flex fex-row mt-3">
                <div class="basis-1/3">
                    <div class="text-left font-bold">Item</div>
                </div>
                <div class="basis-1/3">
                    <div class="text-left font-bold">Quantité</div>
                </div>
                <div class="basis-1/3">
                    <div class="text-center font-bold">Prix</div>
                </div>
            </div>
        </div>

        <div style="margin-bottom:52px">
            <div v-for="(orderedDish, index) in getCurrentOrder()['order_dishes']" :key="orderedDish.dish.id"
                class="py-2 flex flex-row items-center">

                <div class="basis-1/3">
                    <div class="text-left mr-3">{{ orderedDish.dish.name }}</div>
                </div>
                <div class="basis-1/3">
                    <div class="flex flex-row items-center">
                        <c-button @click="substituteToCurrentOrder(orderedDish.dish, index)" class="btn-primary material-icons">remove</c-button>
                        <div class="text-center font-bold mx-4">{{ orderedDish.quantity }}</div>
                        <c-button @click="addToCurrentOrder(orderedDish.dish)" class="btn-primary material-icons">add</c-button>
                    </div>
                </div>
                <div class="basis-1/3">
                    <div class="flex flex-row-reverse items-center">
                        <button @click="deleteFromCurrentOrder(index)" class="material-icons h-8 w-8">deleted</button>
                        <div class="mr-1">{{convertNumberToPrice(orderedDish.dish.price * orderedDish.quantity)}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import {defineComponent} from 'vue';
import CButton from '@/components/Custom/CButton.vue';
import {
    deleteFromCurrentOrder,
    getCurrentOrder,
    addToCurrentOrder,
    substituteToCurrentOrder,
    setOrderType
} from '@/services/orders.services';
import {convertNumberToPrice} from '@/common/helpers';

export default defineComponent({
    setup() {
        return {
            getCurrentOrder,
            deleteFromCurrentOrder,
            convertNumberToPrice,
            addToCurrentOrder,
            substituteToCurrentOrder,
            setOrderType,
        };
    },
    components: { CButton }
})
</script>
