<template>
    <div>
        <div class="flex flex-wrap">
            <c-button class="btn-primary mx-2 my-1 focus:outline-none focus:ring focus:ring-green-600"
                      @click="isFiltered = false">Tous les plats
            </c-button>
            <div v-if="categories.length > 0" v-for="category in categories" :key="category.id">
                <c-button class="btn-primary mx-2 my-1 focus:outline-none focus:ring focus:ring-green-600"
                          @click="dispatchCategoryDish(category.id); isFiltered = true">{{ category.name }}
                </c-button>
            </div>
            <div v-else>
                Aucune catégorie n'a été ajoutée
            </div>
        </div>
        <div v-if="!isFiltered">
            <div v-for="category in categoriesDishes" :key="category.id">
                <p class="ml-3 mb-2 mt-2 text-left font-bold">{{ capitalizeFirstLetter(category.category.name) }}</p>
                <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
                <div v-else-if="category.dishes?.length > 0" class="grid grid-cols-6 gap-y-2 px-3">
                    <c-button v-for="dish in sortedDishesAccordingToAvailability(category.dishes)" :key="dish.id"
                              @click="addToCurrentOrder(dish)" class="mx-1 h-28 w-28"
                              :class="{'btn-secondary': dish.is_available, 'disabled': !dish.is_available}">{{
                            dish.name
                        }}
                    </c-button>
                </div>
                <div v-else class="text-red-500 italic text-lg">Aucun plat n'a été ajouté dans cette catégorie</div>
            </div>
        </div>
        <div v-else>
            <p class="ml-3 mb-2 mt-2 text-left font-bold">{{ capitalizeFirstLetter(categoryDish.category.name) }}</p>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else-if="categoryDish.dishes.length > 0" class="grid grid-cols-6 gap-y-2 px-3">
                <c-button v-for="dish in sortedDishesAccordingToAvailability(categoryDish.dishes)" :key="dish.id"
                          @click="addToCurrentOrder(dish)" class="mx-1 h-28 w-28"
                          :class="{'btn-secondary': dish.is_available, 'disabled': !dish.is_available}">{{ dish.name }}
                </c-button>
            </div>
            <div v-else class="text-red-500 italic text-lg">Aucun plat n'a été ajouté dans cette catégorie</div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, onMounted, watch } from 'vue';
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import CButton from '@/components/Custom/CButton.vue';
import { addToCurrentOrder, sortedDishesAccordingToAvailability } from '@/services/orders.services';
import { capitalizeFirstLetter } from '@/common/helpers';
import BeatLoader from "vue-spinner/src/BeatLoader.vue";

export default defineComponent({
    components: { CButton, BeatLoader },
    setup() {
        const store = useStore();

        const selectedCategoryId = ref(null);
        const isFiltered = ref<boolean>(false);
        const loading = ref<boolean>(false);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);
        const categories = computed(() => store.getters["categories/categories"]);
        const categoryDish = computed(() => store.getters["categoryDish/categoryDish"]);
        const dishes = computed(() => store.getters["dishes/dishes"]);
        const categoriesDishes = computed(() => store.getters["categoryDish/categoriesDishes"]);

        const categoryFocused = ref(true);

        onMounted(async () => {
            try {
                console.log(selectedRestaurant.value)

                await store.dispatch("categories/getCategories", selectedRestaurant.value.id);
                await store.dispatch("dishes/getDishes", selectedRestaurant.value.id);
                await store.dispatch("categoryDish/getAllCategoriesDishes", selectedRestaurant.value.id);

            } catch {
                createToast('Erreur lors de la récupération des catégories', {
                    type: 'danger',
                    position: 'bottom-right'
                })
            }
        })

        const dispatchCategoryDish = async (id: string) => {
            try {
                loading.value = true;
                await store.dispatch("categoryDish/getCategoryDishes", {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: id
                });
                loading.value = false;
            } catch {
                createToast('Erreur lors de la récupération des catégories', {
                    type: 'danger',
                    position: 'bottom-right'
                });
                loading.value = false;
            }
        };

        return {
            categories,
            categoryDish,
            selectedCategoryId,
            dishes,
            isFiltered,
            addToCurrentOrder,
            sortedDishesAccordingToAvailability,
            dispatchCategoryDish,
            selectedRestaurant,
            categoriesDishes,
            capitalizeFirstLetter,
            categoryFocused,
            loading
        }
    }
})
</script>
