<template>
    <div class="px-3">
        <div style="margin-top:52px">
            <p class="pt-2 text-left font-bold">Récapitulatif de la commande</p>
        </div>

        <div style="margin-bottom:52px">
            <p v-if="getCurrentOrder().order_type === 'On site'" class="pt-2 text-left font-bold">Sur place</p>
            <p v-if="getCurrentOrder().order_type === 'Take away'" class="pt-2 text-left font-bold">À emporter</p>
            <div v-for="orderedDish in getCurrentOrder()['order_dishes']" :key="orderedDish.dish.id"
                class="py-2 flex flex-row items-center">
                    <div>{{ orderedDish.quantity }}x {{ orderedDish.dish.name }} {{convertNumberToPrice(orderedDish.dish.price * orderedDish.quantity)}}</div>
            </div>
        </div>
    </div>
</template>
<script>
import {defineComponent} from 'vue';
import CButton from '@/components/Custom/CButton.vue';
import {
    deleteFromCurrentOrder,
    getCurrentOrder,
    addToCurrentOrder,
    substituteToCurrentOrder
} from '@/services/orders.services';
import {convertNumberToPrice} from '@/common/helpers';

export default defineComponent({
    setup() {
        return {
            getCurrentOrder,
            deleteFromCurrentOrder,
            convertNumberToPrice,
            addToCurrentOrder,
            substituteToCurrentOrder
        };
    },
    components: { CButton }
})
</script>
