<template>
    <div>
        <template v-if="$route.path === '/404'">
            <router-view></router-view>
        </template>
        <div v-else-if="!loading" id="page-container">
            <nav-bar></nav-bar>
            <div style="padding-top: var(--navbar-height)" class="flex" id="content-wrap">
                <SideBarLeft v-if="$route.path !== '/waiter/order'"/>
                <main class="w-screen">
                    <router-view></router-view>
                </main>
            </div>
            <Footer v-if="$route.path !== '/waiter/order'" id="footer" />
        </div>
        <div v-else class="h-screen flex justify-center items-center">
            <BeatLoader :loading="loading" color="var(--primary-color)"></BeatLoader>
        </div>
    </div>
</template>

<script lang="ts">

import { computed, defineComponent, onBeforeMount, onMounted, ref, watch } from 'vue'
import SideBarLeft from './components/Navigation/SideBarLeft.vue';
import NavBar from './components/Navigation/NavBar.vue';
import Footer from './components/Navigation/Footer.vue'
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { user } from '@/services/api';
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { lastVisitedRoute } from "@/router";

export default defineComponent({
    name: 'App',
    components: {
        SideBarLeft,
        NavBar,
        Footer,
        BeatLoader
    },
    setup() {
        const store = useStore();
        const router = useRouter();
        const loading = ref<boolean>(false);

        const restaurants = computed(() => store.getters["restaurants/ownerRestaurants"]);

        onBeforeMount(async () => {
            if (user.value.refresh_token && user.value.refresh_token !== '') {
                // If refresh_token exists, auto login then redirect to home
                try {
                    loading.value = true;
                    await store.dispatch("users/refreshToken", user.value.refresh_token);
                    await store.dispatch("users/userInformation");
                    if(store.getters["users/owner"]) {
                        await store.dispatch('restaurants/getOwnerRestaurants');
                    }
                    lastVisitedRoute.value !== '' ? await router.push({ name: lastVisitedRoute.value }) : await router.push({ name: 'Home' });
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    await router.push({ name: 'Login' });
                }
            }
        });

        watch(restaurants, async (newVal) => {
            if (restaurants.value.length === 1) {
                await store.dispatch('restaurants/setCurrentRestaurant', newVal[0]);
            }
        }, { deep: true });

        return { loading }
    }
})
</script>

<style lang="scss">

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 21rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 21rem;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
</style>
