@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-dishes {
        @apply py-2 px-4 bg-f-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-primary {
        @apply focus:outline-none text-black bg-gray-300 hover:bg-gray-400 focus:ring-4 focus:ring-gray-100 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    .btn-secondary {
        @apply focus:outline-none text-white bg-black opacity-80 hover:opacity-100 focus:ring-4 focus:ring-gray-700 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    .btn-danger {
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    .btn-success {
        @apply focus:outline-none text-white bg-green-600 hover:bg-green-400 focus:ring-4 focus:ring-green-200 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    .btn-warning {
        @apply focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    .btn-dark {
        @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5;
    }

    button.disabled {
        @apply opacity-60 pointer-events-none !important;
    }
}
