<template>
    <div class="flex">
        <div class="w-2/3">
            <DishesByCategories v-if="selectedRestaurant.id !== ''"/>
        </div>
        <div class="w-1/3 fixed top-0 right-0 h-screen border-l-2 overflow-y-auto overflow-x-hidden">
            <AddNewOrder v-if="step === 0"/>
            <OrderRecap v-if="step === 1"/>
            <div class="w-1/3 fixed bottom-0 border-t-2 bg-white">
                <div v-if="step === 0" class="px-2 py-2 flex justify-between items-center">
                    <c-button class="btn-primary mx-2" @click="resetCurrentOrder()">Effacer</c-button>
                    <p>Total : <span class="font-bold">{{ convertNumberToPrice(getTotalPriceOfCurrentOrder()) }}</span>
                    </p>
                    <c-button class="btn-primary mx-2" @click="step = 1">Valider</c-button>
                </div>
                <div v-if="step === 1" class="px-2 py-2 flex justify-between items-center">
                    <c-button class="btn-primary" @click="step = 0">Retour</c-button>
                    <c-button class="btn-primary" @click="step = 0; resetCurrentOrder()">Marquer comme payée
                        {{ convertNumberToPrice(getTotalPriceOfCurrentOrder()) }}
                    </c-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue';
import AddNewOrder from '@/components/Waiter/AddNewOrder.vue';
import OrderRecap from '@/components/Waiter/OrderRecap.vue';
import DishesByCategories from '@/components/Waiter/DishesByCategories.vue';
import {
    getTotalPriceOfCurrentOrder,
    resetCurrentOrder,

} from '@/services/orders.services';
import { convertNumberToPrice } from '@/common/helpers';
import { useStore } from "vuex";

export default defineComponent({
    components: {
        AddNewOrder,
        OrderRecap,
        DishesByCategories,
    },
    setup() {
        const step = ref(0);
        const store = useStore();

        const waiterRestaurant = computed(() => store.getters["users/connectedUser"].restaurant);
        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);

        onMounted(async () => {
            try {
                if (store.getters["users/waiter"]) {
                    await store.dispatch('restaurants/setCurrentRestaurant', waiterRestaurant.value)
                }
            } catch (e) {
                console.error(e);
            }
        });

        return {
            step,
            getTotalPriceOfCurrentOrder,
            convertNumberToPrice,
            resetCurrentOrder,
            selectedRestaurant
        };
    },

})
</script>
